[2014-03-04 16:27] himedlooff opened #2 "Add cf-pagination to demo page"

[2014-03-04 21:14] Scotchester opened #5 "Research Code Documentation Libraries"
Originally written by @himedlooff:

---

**Status:** Thinking of going with Topdoc as adoption and implementation seems to be much easier. See notes below.
- [x] Research [KSS](https://github.com/styleguide/css)
  **Notes**
  Uses Rails
  Set up is an admitted pain ["As you can tell, this is all still really gross to set up. But we’re just starting here! Contribute and help make KSS better."](http

[2014-03-04 21:15] #5 closed, assigned to nobody

[2014-03-04 21:20] Scotchester opened #8 "Use bower to pull in dependencies"
(Links to internal URLs have been removed.)
- [x] Create a vendor folder as a sibling to `js/` and `css/`
- [x] Use bower to pull in the external dependencies ([component breakdown]())
- [x] Figure out how to move static assets (e.g., fonts and images) to the `/dist` folder
- [x] Build main CSS file
- [x] During/after build of main CSS file, rewrite links to static assets now located in `/dist`

[2014-03-04 21:23] Scotchester opened #9 "Component repos need a build process"
In order to properly test individual components we need a test page in each one. This page will be used to test acceptance criteria.

We'll need
- [x] Gruntfile to bring in dependency and compile .less
- [x] Demo page in demo folder
- [x] HTML test page that includes the component markup and dependency component markup

Notes
- First focus on local testing, we can figure out a gh-pages kind of sol

[2014-03-04 21:23] #9 closed, assigned to nobody

[2014-03-04 21:23] #8 closed, assigned to nobody

[2014-03-04 21:33] himedlooff opened #10 "Document EM's and the unit() LESS function"
When using EM values I find it helpful to leave the calculation that got me the value inside of a comment. For example:

`font-size: 0.875em; /* 14/16 = 0.875 */`

This is helpful because it's hard to understand what these EM values mean sometimes. Like I haven't yet memorized that `0.875em` is `14px` in the context of `16px`. And if the context changes then it gets even more confusing.

The downs

[2014-03-04 21:35] #2 closed, assigned to nobody

[2014-03-04 21:35] Scotchester opened #11 "Make this framework easy to use for other projects"
Originally posted by @himedlooff.

---

I know this is generic sounding but maybe we can focus this to something like "make bower compatible"?

Should we [emulate topcoat.io's organization where modules are separate repo's](https://github.com/topcoat/)?
- Button repo https://github.com/topcoat/button
- Button demo http://topcoat.io/button/demo/
- [SuitCSS](https://github.com/suitcss) also follows

[2014-03-04 21:36] #11 closed, assigned to nobody

[2014-03-04 21:37] himedlooff opened #12 "What is our progressive enhancement strategy?"
See http://responsivenews.co.uk/post/18948466399/cutting-the-mustard

[2014-03-04 21:39] himedlooff opened #13 "Add JS test to the demo"
The JS in the demo should be tested.

https://github.com/cfpb/capital-framework/blob/master/src/static/js/app.js

[2014-03-04 21:42] Scotchester opened #14 "Running `bower install` before `grunt vendor` breaks `grunt compile`"
@Scotchester:

@contolini:

@Scotchester:

@Scotchester:

@Scotchester:

@himedlooff:

[2014-03-04 21:47] Scotchester opened #15 "Is there a benefit to adding the `cf-` prefix to component filenames?"
@himedlooff:

@contolini:

@himedlooff:

@Scotchester:

@himedlooff:

[2014-03-04 21:47] #15 closed, assigned to nobody

[2014-03-04 21:52] himedlooff opened #16 "Set up automated accessibility testing"
# Research

## Chrome DevTools Accessibility Extension

*Notes from OSCON 2013 courtesy of @Scotchester*

## Case study: Case Commons using capybara-accessible

*Notes from OSCON 2013 courtesy of @Scotchester*

## Quail.js

http://quailjs.org/

## Deque

http://www.deque.com/products/

[2014-03-04 21:53] Scotchester opened #17 "Not cloning the full history"
@ascott1:

@himedlooff:

@ascott1:

@Scotchester:

@himedlooff:

[2014-03-04 21:53] #17 closed, assigned to nobody

[2014-03-04 21:55] Scotchester opened #18 "Use an autoprefixer?"
Originally posted by @himedlooff.

---

https://github.com/nDmitry/grunt-autoprefixer

This will give us a much higher level of consistency between components when it comes to vendor prefix use.

[2014-03-04 21:55] #18 closed, assigned to nobody

[2014-03-04 21:56] himedlooff opened #19 "Set up automated visual regression tests"
This should be set up for this repo and each component.

Using ~~mogo or~~ [wraith](https://github.com/BBC-News/wraith) or something else.

[2014-03-04 22:08] contolini opened #20 "Framework logo"
A logo would make Capital classier. We can stick it on the [demo page](http://cfpb.github.io/capital-framework/) and we'll need one if we end up moving the framework to a dedicated GH org.

Any ideas? Perhaps the standard four column government-looking building? Or a silhouette of the Capitol building? Or something money-themed like a seal on a U.S. dollar bill?

![300px-government_icon_symbo_01](

[2014-03-04 22:11] himedlooff opened #21 "Add style guide info to CONTRIBUTING"
We need to add a style guide section to CONTRIBUTING.md. **Additions should be terse** so it is easy to read and so people don't ignore it. If examples are needed link to them.

The following additions are needed:
- [x] The obligatory "in lieu  of a formal style guide...".
- [x] Notes on linting tasks used in Gruntfile.js.
- [x] Less notes like use of `unit()` to make calculations clear and using

[2014-03-04 22:18] dlapiduz opened #22 "Questions about the README"
The instructions mention a `dist` folder but I can't find it. Should it be here?

Also then there is a `mv front-end my-project` which I believe should be `mv capital-framework my-project`

[2014-03-04 22:23] himedlooff opened #24 "Create a components roadmap doc"
If people are interested in creating new components it would be nice to have a prioritized roadmap along with an inventory of older code that has already been written that could potentially be leveraged.

For example here is a list of JS Components pulled together by @danny8000 that we have written at the CFPB at one time or another:
- Show / Hide:
  - Chuck's
  - Dan's  (in GPRA)
  - Armin's (in

[2014-03-04 22:27] himedlooff opened #25 "Handling scripts we only want to load as needed"
Via @Scotchester

[2014-03-04 22:30] himedlooff opened #26 "Document how to add new CSS/JS libraries to cf-demo"
RE: #25 we should be documenting how we are building our CSS/JS with Grunt so people know how to add new libraries and have them integrated properly.

Also Via @Scotchester

I think the way we're adding in html5shiv speaks to this so it's just a matter of documenting it. In fact we should document what we're doing in general because it might not be so obvious that you should be adding your site-wi

[2014-03-04 22:35] #22 closed, assigned to nobody

[2014-03-04 22:38] himedlooff opened #27 "Add gh-pages workflow instructions to README"
Explain how we are using `gh-pages` via the `grunt gh-pages` task.

Related: https://github.com/cfpb/capital-framework/issues/22

[2014-03-05 17:13] Scotchester opened #28 "Address potential naming collisions in combined asset folders"
When building combined asset folders (e.g., `dist/static/img`), in the current implementation, there is a possibility that two files with the same name would get put in that folder. Presumably, the first would get overridden by the second.

We should figure out how to sequester assets for each vendor component in their own folders (either `dist/static/vendor/[type]` or `dist/static/[type]/vendor`)

[2014-03-05 17:21] Scotchester opened #29 "Create grunt-capital-framework task to aid in integration with existing projects"
Because integrating the framework's build process (i.e., its Gruntfile) with an existing project's build process could be very messy.

It also ensures that updates to the framework's build process don't need to be manually integrated into the project's build.

Ultimately, this should make the integration step very simple: adding a single new Grunt task to the project's Gruntfile and setting option

[2014-03-05 17:32] himedlooff opened #30 "Dependency version pinning thoughts"
We need to figure out how we should handle dependency versions.

**Steps**
- [x] Decide on use of `latest`, `~`, or a pinned version number in Capital Framework for both Bower and NPM. **Decision:** use `~`
- [x] Research use of https://gemnasium.com for tracking NPM dependency updates.
- [x] ~~Research a gemansium-type tool for keeping track of Bower dependency version updates.~~
  - Gemnasium no

[2014-03-05 17:43] Scotchester opened #31 "Create releases with GitHub API/Gulp?"
As we want to distribute zip files for each release, we should think about using Grunt to create the releases via the GitHub API and eliminate the need to upload the file through the web interface.

This might leverage an existing task like [grunt-release](https://github.com/geddski/grunt-release), or it could be an extension of [grunt-cfpb-internal](https://github.com/cfpb/grunt-cfpb-internal). I

[2014-03-05 17:51] himedlooff opened #32 "Check in our own components?"
@Scotchester

@himedlooff

@Scotchester

@himedlooff

@Scotchester

[2014-03-05 17:57] himedlooff opened #33 "Set up linting"
We need both CSS and JS linting. There is an open question on when to run them. The options we are considering are:
1. Running during each `grunt compile`
2. Running only on pre-commit.

**Research**
- Grunt linting tips
  [Eliminating Code Smell with Grunt](http://flippinawesome.org/2013/12/02/eliminating-code-smell-with-grunt/)
- Pre-commit tests
  [Setting up pre-commit tests with Git](http://d

[2014-03-05 18:15] himedlooff opened #34 "Research JS dependency management"
The main question:

_Is script dependency something that we need in Capital Framework components, or is it something we only need in the Capital Framework demo when illustrating usage of our JS components?_

[2014-03-05 18:22] himedlooff opened #35 "RequireJS VS Browserify"
RE: #34, if we decide to add script dependency management what should we use?

[2014-03-05 18:26] himedlooff opened #36 "Add Normalize.css to all components"
## Add to all components
- [x] cf-buttons
- [x] cf-expandables
- [x] cf-forms
- [x] cf-grid
- [x] cf-icons
- [x] cf-pagination
- [x] cf-typography
- [x] cf-demo
## Update TERMS for all components to now include Normalize
- [x] cf-buttons
- [x] cf-expandables
- [x] cf-forms
- [x] cf-grid
- [x] cf-icons
- [x] cf-pagination
- [x] cf-typography
- [x] cf-demo
## Research

**Status:** _Done!_

**Problem

[2014-03-05 19:58] himedlooff opened #37 "Add HTML validation"
Via https://npmjs.org/package/grunt-html-validation

[2014-03-05 20:07] himedlooff opened #38 "Document the Gulp tasks"
It would be nice to describe what the tasks are doing so others can modify/tweak this repo for their own projects. For example in the [Workflow section of the readme](http://cfpb.github.io/capital-framework/cf-demo/#workflow), step three says:

This is good enough for the readme but there needs to be further explanation. For example this task also routes vendor assets for you, concatenates all of

[2014-03-05 20:10] himedlooff opened #39 "Link component style guides together"
Each component has their own docs page, is there a way to tie them all together?

**Ideas**
1. Update the [cf-component-demo template](https://github.com/cfpb/cf-component-demo/tree/master/code_examples) to include a nav which links to all other components. Then create a master page in this repo.

[2014-03-05 20:18] himedlooff opened #40 "CSS conventions"
We should have conventions on class names. In the hand book we say we use SMACSS but none of us really do. I'm partial to the BEM-ish style of:

[code]

For example:

[code]

[code]

More info: http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

**Pros**

_Flexibility._

**Non-BEM-ish**

[code]

[code]

**BEM-ish**

[code]

[code]

**Thoughts**
- The selectors in the BE

[2014-03-05 21:51] Scotchester opened #41 "Font Awesome doesn't work sometimes on IE8"
Relevant issue on the Font Awesome repo: [On IE8, font disapear when refresh](https://github.com/FortAwesome/Font-Awesome/issues/954)

[2014-03-05 21:57] Scotchester opened #42 "Some sections of demo page are not appropriately responsive"
See http://cfpb.github.io/capital-framework/
- Typography (due to table layout)
- Grid (component needs some `min-width` rules)

[2014-03-05 21:58] Scotchester opened #43 "Document the way media queries work for IE (currently)"

[2014-03-05 22:27] himedlooff opened #44 "Use reference imports for Less"
The benefit _I think_ is that if we needed to output a .CSS file for each component then that file would only contain the component styles and not any dependency styles. Only mixins or variables that are dependencies are used for styling the current component but not compiled into the .CSS.

http://lesscss.org/

[2014-03-05 22:28] himedlooff opened #45 "Use Less sourcemaps"
To make debugging easier. This is now supported in LESS 1.5.

[2014-03-05 22:30] himedlooff opened #46 "Use Less extend"
div {
    background-color: #e0e0e0;
}
p:extend(div) {
    color: #101010;
}
[code]

.parent {
    font-size:12pt;
}
.child {
    &:extend(.parent);
}
[code]

.a.b.test,
.test.c {
    color: orange;
}
.test:hover {
    color: green;
}
[code]

.a.b.test,
.test.c,
.a.b.replacement,
.replacement.c {
  color: orange;
}
.test:hover,
.replacement:hover {
  color: green;
}
[code]

[2014-03-05 22:32] himedlooff opened #47 "Upgrade grunt-contrib-less"
https://github.com/gruntjs/grunt-contrib-less/tree/v0.8.3

This will allow us to do #44, #45, and #46.

[2014-03-05 22:34] himedlooff opened #48 "Look into using .editorconfig"
From what I briefly read it's a way to set tabs, spaces, etc per project. So you'd open up this repo and there'd be an `.editorconfig` file and your IDE would pick it up and automatically update your settings to keep these kinds of things consistent. This is how I imagine it works but I haven't looked into it really. Figured I'd first see if anyone has used it or knows what it really is.

[2014-03-06 16:35] himedlooff opened #49 "Research Yeoman"
## What is Yeoman and how does Yeoman differ from Grunt?

Yeoman will allow you to construct a new project quickly so you don't have to cobble together all of the pieces yourself. By pieces I mean things like getting the latest jQuery, getting the latest modernizr, creating grunt tasks, pulling in frameworks and dependencies.

## What is the difference between Grunt Init & Yeoman?

## What is the

[2014-03-06 16:35] #49 closed, assigned to nobody

[2014-03-10 16:31] himedlooff opened #53 "One CONTRIBUTING to rule them all?"
I propose that we use the [CONTRIBUTING.md](https://github.com/cfpb/capital-framework/blob/master/CONTRIBUTING.md) file from this repo for all Capital Framework components.

Currently within each component repository we have a CONTRIBUTING.md file. They all say the same exact thing. Recently we've been updating the contributing guidelines for this master repo. These edits are applicable to all com

[2014-03-10 17:06] himedlooff opened #54 "Create a docs site"
Another idea to centralize docs for all components and the master repo is to create a Capital Framework doc site using [DOCter](https://github.com/cfpb/DOCter). Within this site we can centralize a lot of the info that is duplicated across each component README and CONTRIBUTING files. This would save us a lot of hassle if we need to make doc changes that affect all components because we would only

[2014-03-10 17:06] #53 closed, assigned to nobody

[2014-03-11 19:22] himedlooff opened #56 "Update the banner to note third party code"
Comments in the minified JS files are excluding important comments (comments starting with a bang).

[2014-03-11 20:44] contolini opened #59 "Point `src/index.html` assets to un-minified versions"
You know what I mean. :wink:

[2014-03-11 22:08] Scotchester opened #61 "Centralize component Grunt tasks"
As noted by @danny8000, currently, individual components' Gruntfiles are largely the same. How can we make these more maintainable?

Discussed briefly with @himedlooff and more extensively with @contolini, I propose:
1. Pull out the common tasks into an npm package published as a @cfpb repo.
2. Add that package into each component's `package.json` dependencies.
3. Reduce each component's Gruntfile

[2014-03-20 15:45] #40 closed, assigned to nobody

[2014-03-20 15:49] #25 closed, assigned to nobody

[2014-03-20 15:49] #24 closed, assigned to nobody

[2014-03-20 15:50] #21 closed, assigned to nobody

[2014-03-20 15:50] #10 closed, assigned to nobody

[2014-03-20 15:53] #27 closed, assigned to nobody

[2014-03-20 19:39] contolini opened #64 "Set up ga-beacon in repo readmes"
Might be worth talking to Beth Anne about connecting our GH projects to our GA account using [ga-beacon](https://github.com/igrigorik/ga-beacon).

[2014-03-21 13:56] himedlooff opened #65 "Tracking Pull Requests"
I wonder what the best way to track pull requests for all these repositories is?

Ideas:
- https://ifttt.com/recipes/140343-track-pull-requests-in-a-google-drive-spreadsheet
- Use the GitHub API?

[2014-03-21 22:10] #56 closed, assigned to nobody

[2014-03-24 16:54] #54 closed, assigned to himedlooff

[2014-03-24 16:56] #64 closed, assigned to nobody

[2014-03-24 17:08] himedlooff opened #67 "Document accessibility testing in contributing"

[2014-03-24 17:49] himedlooff opened #68 "Create cf-icons component"

[2014-03-24 19:37] #13 closed, assigned to nobody

[2014-03-24 19:40] #42 closed, assigned to nobody

[2014-03-24 20:25] himedlooff opened #69 "Test for IE selector limit?"
https://github.com/reworkcss/rework-ie-limits

[2014-03-24 20:31] ascott1 opened #70 "document how to create a new component"
I find myself digging through all of the other components to figure out the structure, etc.

We may even want to have a generic component template.

[2014-03-25 13:31] #65 closed, assigned to himedlooff

[2014-03-26 17:32] #43 closed, assigned to himedlooff

[2014-03-27 11:48] #68 closed, assigned to ascott1

[2014-03-27 15:24] Scotchester opened #78 "Rename component demo page?"
The name "demo" is a little misleading. The true intent of that page is to aid in browser testing. The word "demo" has a bit more of a real-world-usage connotation, I think. We should consider renaming it to "testing" or something similar, to reduce confusion, especially if we [start making new user-friendly demo pages](https://github.com/cfpb/cf-icons/issues/13).

[2014-03-27 19:11] himedlooff opened #80 "High level documentation of the component Gruntfile"
After getting feedback from @ascott1 on creating a new component it's obvious that we need a really quick high-level list of what goes on inside of `Gruntfile.js`. I'm thinking something like:
- `bower-install`
  Downloads dependencies and routes dependency assets that are flagged in the `exportsOverride` section of `bower.json` into the `demo` folder.
- `concat`
  Concatenates dependency styles.

[2014-03-27 19:31] #26 closed, assigned to nobody

[2014-03-28 13:47] #80 closed, assigned to nobody

[2014-03-28 14:16] #47 closed, assigned to contolini

[2014-03-28 16:11] #67 closed, assigned to nobody

[2014-03-31 15:50] #70 closed, assigned to nobody

[2014-04-02 14:09] #45 closed, assigned to contolini

[2014-04-02 18:29] himedlooff opened #84 "Remove bower install from grunt-bower-task?"
Per other discussions it might make sense to stop `grunt-bower-task` from running `bower install` and instead let the user do it themselves with Bower.

The benefits (feel free to add more):

- **More intuitive.** Makes explaining the workflow easier since Bower would handle installing and updating dependencies and `grunt-bower-task` would simply be routing the downloaded components to where you n

[2014-04-08 18:48] #61 closed, assigned to Scotchester

[2014-04-09 17:08] himedlooff opened #87 "Ditch duplicate info in package.json?"
Does anyone mind if we ditch most of the duplicate information in package.json? We have been leaving it in incase we ever want to publish these components to the NPM registry. This won't happen for a while though and in the meantime it is kind of a hassle to keep bower.json and package.json in sync all this time for something that may or may not happen in the future. If we do want to publish to th

[2014-04-09 17:12] #87 closed, assigned to nobody

[2014-04-14 16:31] himedlooff opened #89 "Update all tasks to replace the deprecated grunt.util._extend with the node.extend package"
`node.extend`  gives us the ability to deep merge objects. This will be helpful for components that need to add custom task options to tasks that already exist within cf-grunt-config. Sweeeeet! :dancers:
- Add this to line 8 after `var path`
  `var extend = require('node.extend');`
- Then on line 104 update `config = ..` to
  `config = extend(true, loadConfig('./node_modules/cf-grunt-config/tasks/

[2014-04-14 18:49] himedlooff opened #90 "Small docs-site tweaks"
- [ ] Updates for http://cfpb.github.io/capital-framework/#defining-features
 - Add a bullet about responsive
 - Link "accessibility standards" to more information, perhaps link to http://cfpb.github.io/capital-framework/contributing/#accessibility-testing
- [ ] Update the navigation labels to match their corresponding page headings

[2014-04-17 14:24] #36 closed, assigned to himedlooff

[2014-07-10 14:33] himedlooff opened #93 "Base/Core component"
## Proposal

To create a base/core component that would combine a lot of the necessary CSS/LESS rules and utilities that you would normally find in a base stylesheet.

I am proposing we include (and feel free to add/comment):
- cf-utilities (a new component for things like a visually hidden class, clear float, ...)
- cf-colors
- cf-typography
- and potentially some more typical base styles, like b

[2014-08-07 16:13] himedlooff opened #95 "Add option to edit patterns on the fly for testing purposes"
Each component has docs with markup examples. It would be nice to play around with these patterns on the fly. For example imagine there is a button on each pattern that says "edit this in codepen". You click it and it creates a new pen that links the compiled CSS and plops the markup from that pattern into the HTML box. Seems easy to do: http://blog.codepen.io/documentation/api/prefill/

[2014-08-12 15:16] himedlooff opened #96 "Figure out what ltie8Source is doing"
In component Grunfile's we have this language:

[code]

What's funny is that this is commented out even in cf-icons, which makes you wonder why it is "definitely needed if this component depends on an icon font". We should look into this and/or change the language.

[2014-08-12 16:07] Scotchester opened #97 "Custom demos should expose their notes saying what they're showing"
For example, https://github.com/cfpb/cf-core/pull/6/files#r16119877.

Seeing the checkbox and radio inputs on the demo page is going to be very confusing if you don't already know that their purpose is to demonstrate that they are NOT accidentally being styled different from the browser default. The note in the comment should be able to be revealed on the demo page.

I'd suggest that if we want to

[2014-09-05 22:01] #95 closed, assigned to nobody

[2014-09-05 22:37] himedlooff opened #99 "Delete cf-colors?"
cf-core makes it obsolete so I think we should say bye to it, but let's wait until others have migrated to using cf-core.

[2014-09-05 22:38] himedlooff opened #100 "Repurpose cf-typography?"
~~Or at the least we should slap a warning on it that cf-core has replaced the need for it.~~ Done
At some point we should convert this repo into more advanced typographic patterns.

[2014-09-05 22:39] himedlooff opened #101 "Deprecate cf-demo"
It's VERY outdated.

## Delete/update references to cf-demo within cfpb.github.io/capital-framework docs site

- [ ] `_includes/adding-deps-step2.md`
- [ ] `_includes/workflow-intro.md`
- [ ] `cf-demo/index.md`
- [ ] `contributing/status.md`
- [ ] **Then delete the cf-demo repo**

[2014-09-06 18:58] himedlooff opened #102 "Document config vars in component Gruntfiles"
I'm talking about this: https://github.com/cfpb/cf-buttons/blob/gh-pages/Gruntfile.js#L31-L64

[2014-09-06 23:16] himedlooff opened #103 "Make cf-grunt-config useful for the yeoman generator too?"
It would be nice if the yeoman generator and the component tasks had more in common because it would make the whole process easier for people to understand (instead of having to understand how components work vs our recommended approach to projects). Just a thought.

One potential issue I can think of is that projects will have different folder structures than components.

[2014-09-08 13:28] #93 closed, assigned to nobody

[2014-09-08 14:09] himedlooff opened #104 "Run qUnit tests in multiple browsers"
Via [Saucelabs and Grunt](https://saucelabs.com/javascript/qunit)?

[2014-09-15 14:23] himedlooff opened #105 "Look into making releases easier with grunt-semantic-release"
http://blog.hood.ie/2014/09/semantic-releases/

This would make the releasing process easier for other CF maintainers.

[2014-10-14 19:21] ascott1 opened #107 "Capital Framework initial personas"
Here are some rough persona sketches for Capital Framework to guide us in building out the Capital Framework documentation. I'd love any feedback that anyone has on these ideas.
## CFPB FEWDs

_This is our primary audience._ CFPB FEWDs will be using CF for production quality projects. Consequently, they will be using individual Less and JS modules along with a build process.

The primary needs of

[2014-10-15 22:12] contolini opened #108 "Tagging Capital Framework releases"
We eventually want to start tagging and [releasing](https://github.com/cfpb/capital-framework/releases) pre-compiled CF zips. At CFPB we subscribe to the [semver](http://semver.org/) spec but in the grand scheme of CF, how will we decide what constitutes a major/minor/patch update?

For example, let's say CF is tagged 0.4.5. If we update cf-buttons and it goes from 0.2.3 to 0.3.0, would we re-comp

[2014-10-16 15:24] ascott1 opened #109 "Build system updates"
In #108 @Scotchester mentioned:

So, let's discuss that here. My general thoughts:
- Projects should all use the same base commands for executing common tasks (@contolini is working on defining these now)
- Once a project is underway, devs may want to add custom tasks that are useful for their particular project and that should be cool as long as the outcome adheres to the common.
- If the above i

[2014-10-21 15:11] #89 closed, assigned to nobody

[2014-10-21 15:17] #105 closed, assigned to nobody

[2014-10-21 16:03] #30 closed, assigned to nobody

[2014-10-21 16:54] ascott1 opened #110 "Landing page wireframe"
Here's my initial attempt at a landing page wireframe. I would love your feedback and thoughts @Scotchester @himedlooff and @contolini. If we go this route, we may need some help form a designer for the icons above the content areas.

Internal pages like "Getting Started", "Docs", and "About" would reflect the sidebar/content area design of sites like cfpb.github.io and the design manual.

![cf_si

[2014-10-27 20:06] himedlooff opened #111 "Are there better ways to communicate updates to capital framework to people who don't "watch" the repositories"

[2014-10-27 20:11] himedlooff opened #112 "Add layout stuff to Capital Framework"
There is a need in Owning a Home for the margins that we're canonizing in cfgov-refresh. We should try ot get a cf-layouts repo going asap!

[2014-10-28 14:45] himedlooff opened #113 "More enforcement of testing"
We have a checklist of tests: http://cfpb.github.io/capital-framework/contributing/testing-snippet.html but we don't enforce it very much. We should be more strict about it.

[2014-10-29 02:17] himedlooff opened #114 "Update iOS version in checklist snippet"
It's suggesting iOS6 and should probably be 7 or 8.

[2014-10-29 02:23] #114 closed, assigned to nobody

[2014-10-29 20:48] #59 closed, assigned to Scotchester

[2014-10-29 20:55] #32 closed, assigned to nobody

[2014-10-29 20:57] #34 closed, assigned to nobody

[2014-10-29 20:59] #28 closed, assigned to nobody

[2014-10-29 20:59] #41 closed, assigned to nobody

[2014-10-29 21:08] #44 closed, assigned to nobody

[2014-10-29 21:09] #48 closed, assigned to nobody

[2014-10-29 21:44] himedlooff opened #115 "Semantic color vars"
https://github.com/cfpb/capital-framework/issues/99 sparked the idea of using better color var names like `@primary-action` instead of straight up using `@pacific`.

[2014-10-30 14:09] #107 closed, assigned to nobody

[2014-10-31 19:42] #109 closed, assigned to nobody

[2014-10-31 19:52] #103 closed, assigned to nobody

[2014-10-31 20:09] #96 closed, assigned to nobody

[2014-10-31 20:49] himedlooff opened #116 "Cleaner/clearer homepage"
Wireframe: #110
Personas: #107

[2014-10-31 20:50] himedlooff opened #117 "Provide a downloadable ZIP file of the compiled CSS of all components"
**We need to figure out:**

## What should be included?
- [x] Compiled CSS (min and non-min)
- [x] Compiled JS (min and non-min)
- [x] Demo HTML page
- [x] Compiled docs for the current versions of the components

## When do we make new releases?
**Status:** The current consensus is "reactionary".

- Every time there is a new cf component release? (sounds tedious)
- Once a week? (sometimes we go m

[2014-10-31 21:26] himedlooff opened #118 "Redo the docs site, making it easier to understand"
@ascott1 can you track your cf-content stuff here instead of in that rep you made? Jus plop it into the main description of this issue.

[2014-11-04 19:58] himedlooff opened #119 "Review component issues"
- [x] cf-core (all minor issues)
- [x] cf-buttons (all minor issues)
- [x] cf-expandables (all minor issues)
- [x] cf-forms (all minor issues)
- [x] cf-grid (all minor issues)
- [x] cf-icons (all minor issues)
- [x] cf-pagination (all minor issues)

[2014-11-04 20:18] himedlooff opened #120 "One point oh"
When do we hit it? We should plan what it will take.

[2014-12-08 16:20] #119 closed, assigned to nobody

[2014-12-08 16:42] #39 closed, assigned to himedlooff

[2014-12-08 16:43] #112 closed, assigned to Scotchester

[2014-12-08 16:59] #110 closed, assigned to ascott1

[2014-12-19 21:20] awolfe76 opened #124 "CDN for Captial Framework"
Just wanted to gauge the interest in having the framework be available over a URL, like a CDN.

This would allow anyone, or any team, to simply include the Framework in their project by doing something like:

[code]
and/or
[code]

This could help people/teams who want to use the framework quickly, it removes the need to build it themselves. Maybe really useful for prototyping.

The URL pattern als

[2015-01-09 16:45] Scotchester opened #127 "Add a section on actual usage to the Getting Started page"
Currently, once the user finishes the scaffolding process, they're sorta left high and dry as to our recommended norms for actually using the codebase. It's left to them to wade through the codebase to glean an understanding of things like "Where should I put my project's Less?"

Let's add a "Working with the framework" section to the Getting Started page.

[2015-01-09 17:14] awolfe76 commented on #127
+1

After @Scotchester pointed me in the right direction this was pretty straightforward:
- Create your custom .less file(s) in /src/static/css
- import those into main.less (in that same directory)
- you should be good when you build

Seems like a nice, clean way of doing it. You don't have to mess with the Gruntfile, which is where I started. I did get it working but it was a bit more 'messy'.

[2015-01-09 17:18] ascott1 commented on #127
@Scotchester or @awolfe76 since you both just worked through this, would one of you want to add this documentation?

[2015-01-09 17:26] Scotchester commented on #127
I'm certainly happy to help with that, but not sure how soon I can get to it... @awolfe76 if you can take a crack at it, I'll gladly review!

[2015-01-09 17:43] awolfe76 commented on #127
Same here on time, but I'll do it. Would be good figure out what's going on that side of things too.

[2015-01-09 18:01] ascott1 commented on #127
TEAMWORK. I like it.

![http://media3.giphy.com/media/WKdPOVCG5LPaM/giphy.gif](http://media3.giphy.com/media/WKdPOVCG5LPaM/giphy.gif)

[2015-01-09 19:01] himedlooff opened #128 "Add custom select menu from cfgov-refresh as a CF component"
Assets:
- https://github.com/cfpb/cfgov-refresh/blob/bc74541c5f8d524929a0f50cdf5d8654dc7aaaeb/static/js/jquery.custom-select.js
- https://github.com/cfpb/cfgov-refresh/blob/bc74541c5f8d524929a0f50cdf5d8654dc7aaaeb/static/css/forms.less

Pinging https://github.com/cfpb/design-manual/issues/229#issuecomment-69374285

[2015-01-09 21:23] himedlooff commented on #118
@ascott1, feel free to do the honors of closing this one! Nice work!

[2015-01-09 21:23] himedlooff commented on #116
@ascott1, feel free to do the honors of closing this one! Nice work!

[2015-01-09 21:56] ascott1 commented on #116
:boom:

[2015-01-09 21:56] #116 closed

[2015-01-09 21:57] ascott1 commented on #118
:dancers:

[2015-01-09 21:57] #118 closed

[2015-01-12 16:56] himedlooff commented on #115
I think what might be helpful is to see all of the colors used in Capital Framework. I'll update this comment as I go through each component:

# cf-core

| use | brand color |
| --- | ----------- |
| base-text-color | `@black` |
| base-link-color | `@pacific` |
| base-link-color-visited | `@teal` |
| base-link-color-hover | `@pacific-50` |
| base-link-color-active | `@navy` |
| table-head-bg | `@d

[2015-01-12 23:10] himedlooff commented on #115
Here is the current proposal that myself, @Scotchester and @virginiacc chatted about today. We'd like to run it by others, especially @ascott1, @contolini, @wernerc, @sephcoster, and @awolfe76.

The **goal** of this proposal is to allow non-CFPB Capital Framework users to more easily customize the framework colors.

- If you like the idea then please give a :+1:.
- If you have concerns then please

[2015-01-13 18:52] awolfe76 commented on #115
:+1:

And definitely like the idea of the better variable names, #99.

Still meeting today?

[2015-01-13 19:01] himedlooff commented on #115
I haven't heard back from a few people so I'll be there at 3 just in case. If no one there has any concerns then it'll be a quick meeting.

[2015-01-13 20:04] contolini commented on #115
:+1: Asking some questions in #dev-tango atm but no concerns here.

[2015-01-13 20:06] sephcoster commented on #115
:+1: No issues.

[2015-01-13 20:58] himedlooff commented on #115
Thanks for the input everyone. I'll move forward with this. :smile:

[2015-01-14 20:38] himedlooff opened #129 "Add custom checkboxes and radio buttons from cfgov-refresh"
As discussed here: https://github.com/cfpb/design-manual/issues/236

Make sure to add the check icon.

[2015-01-14 20:49] himedlooff commented on #124
Also, Capital Framework is constantly evolving and the CDN would constantly be lagging behind. That could be frustrating. Imagine there's an issue with cf-buttons and you make a pr and fix it. You'd then have to wait until it gets merged into the compiled zip and pushed to the CDN. It's faster to rerun bower install to pull in the updates you made. You can even point to your fork of cf-buttons if

[2015-01-14 20:56] himedlooff commented on #124
And to clarify, I like the idea! I have no idea how one would implement it but I think it would be a good thing to provide, especially once the framework is a little more stable.

[2015-01-15 00:25] himedlooff commented on #117
Added support for building out docs here: https://github.com/cfpb/capital-framework/pull/130

[2015-01-15 03:00] himedlooff commented on #108
Seems like we're ok with https://github.com/cfpb/capital-framework/issues/108#issuecomment-61333258 as a guide.

In order to do this we will need to pin the Capital Framework deps that are used to create the zip file. These ones: https://github.com/cfpb/capital-framework/blob/gh-pages/build/bower.json#L16-L24

When we create a new on-demand zip we would manually bump those deps. The numbers we bum

[2015-01-15 03:00] #108 closed

[2015-01-15 03:19] himedlooff commented on #117
All that's left here is to merge https://github.com/cfpb/capital-framework/pull/130 and tag the repo. :smile:

[2015-01-15 03:19] himedlooff commented on #100
Status update: this is in progress by @virginiacc :smile:

[2015-01-15 03:20] himedlooff commented on #113
Maybe to close this one out we should browser test the current version of the zip.

[2015-01-15 14:28] himedlooff commented on #111
Since https://github.com/cfpb/capital-framework/issues/115 forces more attention on the design manual maybe this isn't such a big deal anymore?

[2015-01-15 14:58] himedlooff opened #131 "Add a note about using a local server"
We use a lot of root-relative links which means it's pretty much required for you to be running a local server to view Capital Framework projects or the demo from the zip. We should add instructions on how to easily do this.

[2015-01-15 15:27] awolfe76 commented on #124
I definitely have a few thoughts on how to handle some of those problems. I was thinking the CDN would be mostly (if not entirely) for internal CFPB use; built with our branding/colors. So anyone building a site/app here could simply do the includes and go. We could provide one for external users with a different branding but not sure if it's worth it, yet anyway.

I can go over some more thoughts

[2015-01-15 15:31] himedlooff commented on #124
Chatting in person sounds great :boom:

[2015-01-15 16:20] contolini commented on #124
This sounds like a great thing to launch with a 1.0.0 release.

[2015-01-16 16:28] himedlooff commented on #117
Created the first tag: https://github.com/cfpb/capital-framework/releases/tag/0.1.0

[2015-01-16 16:28] #117 closed

[2015-01-16 16:43] himedlooff commented on #120
The first tag 0.1.0 has been made

[2015-01-16 16:43] #120 closed

[2015-01-16 16:44] #131 closed

[2015-01-16 16:44] himedlooff commented on #127
I started this at: https://github.com/cfpb/capital-framework/blob/gh-pages/getting-started/index.md

[2015-01-16 16:44] #127 closed

[2015-01-16 16:45] himedlooff commented on #127
If there is additional information you'd like to add please add it, but it's a good start at least.

[2015-01-16 16:46] himedlooff commented on #115
This is in progress. generator-cf has been updated ot include the cfpb palette and the override file. cf-buttons has been updated to use vars for each button style. I'll move onto the other components now that those two have been merged.

[2015-01-16 16:48] himedlooff commented on #113
Moving this to the 1.0 milestone.

[2015-01-17 00:12] himedlooff opened #134 "Update Grunt tasks"
For consistency we should update the Grunt tasks to match those used by the software delivery team, as best as we can. For example `compile-cf` instead of `grunt vendor`. @ascott1 is there a place you can point us to the conventions/tasks you're using?

![selfie-0](http://i.imgur.com/g2KqyPX.gif)

[2015-01-21 17:14] anselmbradford opened #138 "Typo in install instructions on capitalframework.com"
http://cfpb.github.io/capital-framework/getting-started/ has this text:

[2015-01-21 18:35] himedlooff opened #139 "Add bower and grunt-cli install to homepage?"
It can be confusing to run the command from the homepage when you don't have bower or grunt-cli installed.

[2015-01-21 19:32] himedlooff opened #140 "Add an easy way to find patterns"
Sometimes it's not obvious where to look to find a particular pattern, that makes me sad. :cry:
![selfie-0](http://i.imgur.com/Qx27ZWd.gif)

[2015-01-26 20:24] #138 closed

[2015-01-26 20:24] himedlooff commented on #138
Done!

[2015-01-26 20:25] anselmbradford commented on #138
Woo!

[2015-01-28 14:53] ascott1 opened #143 "grunt vendor post install task not running"
After running `npm install`, `grunt vendor` should run as a npm postinstall script. This didn't seem to work and had to be run manually.

[2015-01-28 14:59] Scotchester commented on #143
What project?

The generator [creates a different set of Grunt commands](https://github.com/cfpb/generator-cf/blob/master/app/templates/_Gruntfile.js#L309-L317) now, and it does run `bower install` and `grunt compile-cf` in [the npm `postinstall`](https://github.com/cfpb/generator-cf/blob/master/app/templates/_package.json#L37).

[2015-01-28 15:13] ascott1 commented on #143
Sorry, this static site specifically (not the components).

[2015-01-28 15:36] Scotchester commented on #143
Ahah :+1:

[2015-01-28 20:52] anselmbradford opened #146 "Add note in Readme about denying incoming connections for node?"
CFPB laptops get the following warning when installing the project:
![screen shot 2015-01-28 at 9 48 32 am](https://cloud.githubusercontent.com/assets/704760/5946658/7bcb0404-a705-11e4-9a74-151c8f9b1cc8.png)

Do we want to include a message in the Readme about this? Or since this is only probably going to be an issue for our particular CFPB laptop configuration, is it not worth mentioning in this

[2015-01-28 21:02] anselmbradford commented on #35
Has anyone looked into using a ES6 module loader polyfill? Such as https://github.com/ModuleLoader/es6-module-loader ... theoretically that's the future—e.g. a standardized module format.

[2015-01-29 03:55] himedlooff commented on #146
I wouldn't mind seeing this in the readme, it's helpful.

[2015-01-29 13:12] ascott1 commented on #35
@anselmbradford we haven't in earnest, but I'd be really interested in doing so.

[2015-01-29 16:37] anselmbradford commented on #35
:+1: Same here.

[2015-01-29 18:38] #146 closed

[2015-03-25 23:32] jimmynotjim opened #148 "Project Organization and Workflow"
Should this repo be updated to match the organization and workflow created by the generator? If I were to come to this repo trying to understand how a CF project works, I'd be really confused because my generated project wouldn't match up what I'm seeing here.

[2015-03-26 13:08] ascott1 commented on #148
Yes, yes it should. I think this has just fallen a bit behind.

[2015-03-30 20:22] Scotchester commented on #148
For that to work, the generator would have to be update to be able to output a gh-pages branch with the content in the root. I'm currently testing out the grunt-gh-pages plugin to do this on another project. I will report back with how it goes.

[2015-04-01 14:43] jimmynotjim commented on #148
I meant more the assets being in `/src` and `/dist` rather than `/assets` and `/build`. The content could stay in the root and templates be updated to link to a `/dist` directory.

[2015-04-01 14:47] Scotchester commented on #148
Ah, good point!

[2015-04-14 01:41] contolini commented on #139
Looks like it now says:

[2015-04-14 01:41] #139 closed

[2015-04-14 19:26] contolini opened #151 "Possible to remove Grunt dependency?"
Currently, Capital Framework has a hard dependency on Grunt. We recommend people use Grunt to [glob and concat all CF components](https://github.com/cfpb/generator-cf/blob/master/app/templates/_Gruntfile.js#L57-L59) into a master Less file that can then be imported into the app's [Less entrypoint](https://github.com/cfpb/generator-cf/blob/master/app/templates/src/static/css/main.less#L12-L13). Why

[2015-04-14 21:15] ascott1 commented on #151
@contolini take a look at https://github.com/basscss/basscss

It's also a modular CSS framework which uses npm for package management and doesn't require a specific build tool (just uses an npm script). This might be a good model for simplifying the workflow.

[2015-04-14 21:27] ascott1 opened #152 "Visually unify autogenerate docs with the rest of the site"
Right now they are visually their own thing. They should just look like another page on the site.

[2015-04-14 21:30] ascott1 opened #153 "Remove compiled CSS from the docs site"
The compiled CSS really isn't useful.

Ideally we'd have:
- a demo of the output
- copy and pasteable markup
- optionally, the Less source (but this should be hidden by default)

[2015-04-14 21:36] jimmynotjim commented on #153
I know I harp on how awesome thoughtbot is, but these docs are really great for a css framework http://bourbon.io/docs/

[2015-04-14 21:49] contolini commented on #151
Yuuuuuuuuuup! :+1:

[2015-04-15 02:09] himedlooff commented on #151
The Grunt concat stuff was an attempt at making things effortless. I don't know why we didn't use the `@import` method, it's a good question and I'd like to see if it will work @contolini.

Also, it isn't really a hard dependency on Grunt if you just import everything into your main Less file like:

[code]

You would need to know to import all of the `cf-` files that show up in your `bower_compone

[2015-04-15 10:01] ascott1 commented on #151
@himedlooff the way BassCSS handles this is by using npm and [this script](https://github.com/basscss/basscss/blob/master/scripts/css.js) for finding the imports.

[2015-04-15 18:50] contolini commented on #151
@himedlooff Hiiiiiiiiiiiiiii. That rationale makes sense. The tricky part about manually importing everything is that you'd have to do it in the right order. In your example, cf-icons would have to be imported before cf-buttons. With a dozen components getting the order right could

@ascott1 Yeah it uses [postcss-import](https://github.com/postcss/postcss-import) which is an awesome script but it'

[2015-04-15 19:11] contolini commented on #151
Alright here's a proof-of-concept: https://github.com/contolini/cf-import-test

For that repo I did `bower install cf-forms`* and then I imported [cf-forms.less](https://github.com/contolini/cf-import-test/blob/gh-pages/main.less#L1). And that's it! Some thoughts:

1. Fonts aren't loading. I'm unsure if that's an issue with this technique or if something else is broken. I can never seem to get fon

[2015-04-15 19:30] himedlooff commented on #151
Hiii :smile:
Aside from cf-core coming first the order doesn't matter. There is no specific order in the Grunt task. The only thing of note about the cf-grunt-config concat task is that we had an issue with duplicate imports which was remedied by https://github.com/cfpb/cf-grunt-config/blob/master/tasks/options/concat.js#L7-L8

[2015-04-15 19:38] himedlooff commented on #151
I like your experiment @contolini!

[2015-04-15 19:39] ascott1 commented on #151
This thread has me pretending that @himedlooff never left us.

[2015-04-15 20:41] ascott1 opened #154 "Should we stop using the autogenerated docs at this url?"
Related to #153.

Right now the docs for individual components are autogenerated with Topdoc. This is awesome as part of the component repo, but they're a little confusing for users. Should we replace them with manually created pages that only contain:

- the demo of each pattern
- copyable markup for each pattern

:question:

The problematic part is that we would have to manually updated the docs

[2015-04-15 20:56] jimmynotjim commented on #151
Shhhh, this is a trap to lure him back in :smile:

[2015-04-15 21:31] himedlooff commented on #154
It would be cool if we could tag certain topdoc comments as "demos" or something, and then be able to have topdoc spit out a version that only shows demos.

[2015-04-15 21:53] himedlooff commented on #151
![its-a-trap](https://cloud.githubusercontent.com/assets/1093373/7169972/40623af2-e398-11e4-8fee-f29ec56a13b4.gif)

[2015-04-15 22:12] jimmynotjim commented on #151
+1, would Gif that again

[2015-04-21 21:23] contolini opened #155 "One Point Oh"
Last year @himedlooff created a [1.0 milestone](https://github.com/cfpb/capital-framework/milestones/1.0) for Capital Framework but we didn't have time to pursue it. He was then abducted by aliens and is no longer with us. May he R.I.P.

Now that our team is larger, we not only have more resources but I've also received a lot of good feedback on ways CF can be improved. Let's fix its pain points a

[2015-04-21 23:14] himedlooff commented on #155
Thanks for starting this @contolini!
I have some thoughts from beyond the grave :ghost:

To me a Capital Framework 1.0 should mean that all components composing it are >= 1.0. 1.0 for components should mean they work and are tested cross browser, are accessible and have a level of maturity i.e. is being used in a project.

[2015-04-23 15:46] contolini commented on #29
Related to #151.

[2015-04-23 15:49] contolini commented on #33
We have ESLint set up with the generator. Still need to consider CSS linting.

[2015-04-23 15:51] contolini commented on #38
That diagram is incredibly helpful. Related to #151.

[2015-04-23 15:55] contolini commented on #46
I don't fully grok the use case here so I'm going to assign this to @Scotchester because he's hella smart.

[2015-04-23 15:58] contolini commented on #78
Is this the demo page we're talking about? https://github.com/cfpb/cf-demo

[2015-04-23 15:59] contolini commented on #84
Related to #151.

[2015-04-23 16:07] contolini commented on #99
Let's delete these deprecated repos as part of the 1.0 milestone.

[2015-04-23 16:11] contolini commented on #155
@himedlooff Great points. We *need* automatic browser and accessibility testing for 1.0. I'll add them to the list.

[2015-04-23 16:12] contolini commented on #104
Related to your comment on [#155](https://github.com/cfpb/capital-framework/issues/155#issuecomment-94969000).

[2015-04-23 16:12] contolini commented on #104
@anselmbradford I'll be asking you for help with this.

[2015-04-23 16:16] contolini commented on #113
Related to [#155](https://github.com/cfpb/capital-framework/issues/155#issuecomment-94969000).

[2015-04-23 16:25] contolini commented on #124
CDNJS accepts PRs: https://github.com/cdnjs/cdnjs#adding-a-new-or-updating-an-existing-library

[2015-04-23 16:26] contolini commented on #128
Necessary for 1.0?

[2015-04-23 16:27] contolini commented on #129
Necessary for 1.0?

[2015-04-23 16:28] contolini commented on #134
#148 takes care of this.

[2015-04-23 16:28] #134 closed

[2015-04-23 16:30] contolini commented on #140
This'll need some more chattin'.

[2015-04-23 17:07] himedlooff commented on #38
It's probably out of date

[2015-04-24 21:46] anselmbradford commented on #113
Related to https://github.com/cfpb/front-end/pull/37

[2015-04-24 21:53] anselmbradford commented on #35
Last time I thumbs up an issue ;-) j/k Related to https://github.com/cfpb/cfgov-refresh/issues/244

[2015-04-24 21:55] anselmbradford commented on #104
@contolini :metal:

[2015-04-27 19:46] Scotchester commented on #155
Re: "Download now" button: See also #108 and #117

[2015-04-27 19:50] ascott1 commented on #20
This graces our stickers and has sort of become our unofficial logo: ![modular](https://cloud.githubusercontent.com/assets/212533/7356286/1021de40-ecf5-11e4-8830-ec6688467fc3.png)

It's very different than what we planned, but I like it! Should we roll with this and close the issue?

[2015-04-27 20:26] ascott1 opened #156 "Automated accessibility tools"
Documenting the tools that came up today:

- https://github.com/addyosmani/a11y
- https://tenon.io
- https://github.com/yargalot/AccessSniff
- https://github.com/zrrrzzt/wcag-validator
- http://pa11y.org/

We also need a cool badge like these from Shields.io:

![https://img.shields.io/badge/508-compliant-brightgreen.svg](https://img.shields.io/badge/508-compliant-brightgreen.svg)

[2015-04-27 21:54] Scotchester commented on #20
Yeah. I'd still like to have something eventually that ties in a capitol building, but what we have is great for now. One small note: The one you pasted (the one from the docs site), is slightly cut off at the bottom. Should see the "bottom padding" of those three bottom-most blocks, as well as the darker edge. The stickers have this, so it's not a problem with the source file, but we should updat

[2015-04-28 10:19] ascott1 commented on #20
That's odd and yes we should

[2015-04-28 17:21] contolini opened #157 "Removing Bower dependency"
Continuing from #151, I've been experimenting with making Capital Framework build system-agnostic. I think we can, by simply [`@import`ing dependencies](https://github.com/contolini/cf-import-test/blob/gh-pages/main.less).

Here's the workflow for the above example:

1. `bower init`
1. `bower install cf-forms` (Bower downloads cf-forms and all sub-dependencies)
1. Add `@import 'bower_components/cf

[2015-04-28 17:51] Scotchester commented on #157
How are cf-form's dependencies acquired, in this case? They're `@import`ed at the top of `cf-forms.less`? Will Less grab those, then, too? Can that go on infinitely?

[2015-04-28 18:05] contolini commented on #157
@Scotchester Correct, it'll reach out to as many URLs as it needs to until all `@import`s are satisfied.

Another interesting tidbit is that because all our components use a `gh-pages` branch, creating the CDN is as simple as redirecting requests from `capitalframework.com/cf-XXXXX.less` to `https://cfpb.github.io/cf-XXXXX/src/cf-XXXXX.less`. No equipment required.

[2015-04-28 18:11] jimmynotjim commented on #157
How do you compile without an internet connection, like I'm experiencing right now while my ISP is down? What if you're on a data plan? I agree Bower might be unnecessary, but it caches versions and only makes a connection if the requested asset doesn't match the local cache.

Also keep in mind that if there are too many requests from outside of GitHub, GitHub will block the requests. I've run int

[2015-04-28 18:26] contolini commented on #157
@jimmynotjim This wouldn't replace Bower, it would just make it optional. Good call on the GitHub limitations. A reverse proxy would solve that issue by caching requests for static assets (CloudFlare is currently doing this with the above demo).

[2015-04-29 16:42] contolini commented on #157
I'm going to shelve this and we can re-open it for 1.1. It's more work than we need right now.

[2015-04-29 19:13] contolini opened #158 "Components for 1.0 release"
Per goal 4 of #155: Which components will be part of 1.0?

### Necessary:
- cf-core
- cf-grid
- cf-icons
- cf-buttons
- cf-forms
- cf-pagination
- cf-expandables
- cf-layout
- cf-typography
- *capital-framework*
- *cf-grunt-config*
- *cf-component-demo*
- *generator-cf*

*Items in italics are repos that are necessary but are not traditional CF components.*

### Nice to haves:
- cf-tabs (See https:

[2015-04-29 19:28] anselmbradford commented on #158
Is there a canonical list of CF repos anywhere? I've been aggregating them in [GHE]/flapjack/Getting-started-with-Flapjack/issues/27, but just added cf-grunt-config because I hadn't heard of that one.

[2015-04-29 19:32] Scotchester commented on #158
It's all the ones that start with `cf-` ;)

[2015-04-29 19:33] contolini commented on #158
@anselmbradford Ah, that list is great!

[2015-04-29 19:47] anselmbradford commented on #158
Except for generator-cf and capital-framework ಠ_ಠ ... but yes the majority are easy to find :smile:

[2015-04-29 20:02] himedlooff commented on #158
I started http://himedlooff.github.io/cf-alerts/docs/ and github.com/himedlooff/cf-breadcrumbs for dev dash. They are unofficial components however, no deign input.

[2015-04-29 20:05] contolini commented on #158
@himedlooff Those alerts are gorgeous! I'll add them under nice-to-have for now.

[2015-04-29 20:06] Scotchester commented on #158
I'm not sure those "meta" repos should be considered part of the "Capital Framework 1.0 Release". What exactly do we mean by that?

[2015-04-29 20:06] Scotchester commented on #158
As an aside, Flapjack has been working on some alerts recently. /cc @duelj, @ajbush

[2015-04-30 17:53] anselmbradford commented on #100
What's the status of this issue?

[2015-04-30 22:31] contolini commented on #156
I think between a11y, pa11y and node-wcag we're good-to-go here.

[2015-05-01 17:15] jimmynotjim opened #159 "More expandable bg color modifiers - [Copied from FlapJack backlog]"
We need white and gray padded bg modifiers so we can do white single expandables or gray stacked expandable groups which makes this pattern way more versatile across different background types.

[2015-05-01 18:47] Scotchester commented on #100
I think this is done, in that everything we wanted to move to cf-typography has been moved there. That said, I think that much of the stuff that was moved to cf-typography still remains in the various Less files of cfgov-refresh, from which it needs to be culled.

[2015-05-01 20:26] anselmbradford commented on #100
Sounds like this issue should be moved to cfgov-refresh and closed here?

[2015-05-01 20:26] Scotchester commented on #100
Agreed.

[2015-05-01 20:53] anselmbradford commented on #100
Living on DF-1405 task in Jira!

[2015-05-01 20:53] #100 closed

[2015-05-07 16:30] contolini opened #160 "Base64 encoding the icon font"
@himedlooff @Scotchester Back in the day did you consider Base64 encoding the icon font? It would make cf-icons a whole lot easier to work with because you wouldn't have to ensure the font files are in the proper directory relative to your stylesheet.

I tried it and it seems to work well with a couple caveats:
- The encoded font is ~ 15% larger, is this performance hit acceptable?
- IE < 9 doesn'

[2015-05-07 16:39] Scotchester commented on #160
What's with the vertical alignment of the icons? (Look at one in a button.) Is that an artifact of the base64 encoding?

[2015-05-07 16:43] ascott1 commented on #160
It's possible that the performance could offset by the single http request. It'd be interesting to measure the difference. Do we have a similar demo without the encoded fonts to measure against?

[2015-05-08 22:19] contolini commented on #160
@Scotchester Good eye on the alignment. I don't want to debug why that's happening so I'm going to move this idea to the backburner.

@ascott1 Great point. If you're interested in pursuing that experiment, let me know if I can help.

[2015-05-11 20:58] contolini opened #161 "Remove all CFPB branding from Capital Framework codebase"
Goal 1 of #155.

- [x] Capital Framework should have sensible, non-CFPB defaults for color and font variables.
- [x] All CFPB branding should be applied to a Capital Framework project by overriding the default variables using Less or CSS. (See [`cf-theme-overrides`](https://github.com/cfpb/generator-cf/blob/master/app/templates/src/static/css/cf-theme-overrides.less).)

CFPB's color palette has al

[2015-05-11 21:03] contolini opened #162 "Make Capital Framework easier to use"
Goal 2 of #155.

- [x] Refactor build process (see #151). @contolini (Pending review. See the `dev` branch of every CF component.)
- [ ] Add a big `Download Now` button to CF's homepage that points to a compiled CSS tarball. @ascott1
- [ ] Publish a few [example layouts](http://getbootstrap.com/getting-started/#examples) to help people get started. @ascott1 @Scotchester

@ascott1 had the great ide

[2015-05-11 21:06] contolini opened #163 "All components have browser and accessibility tests that can be easily run from the command line"
Goal 3 of #155.

- [x] Run all components' demos' HTML through [pa11y](https://github.com/nature/pa11y) via Travis CI. Add badge to each README. @contolini (being reviewed by @anselmbradford)
- [x] Configure Travis to run cf-expandables' JS unit tests. @contolini
- [x] CSS regression testing is on hold for now.

[2015-05-11 21:07] Scotchester commented on #161
Agreed that the `@import` removal should definitely happen, so people aren't making four requests that will be blocked on every page load. We'll have to make sure our projects manually add this in to their `cf-overrides.less` file, though.

There's a tertiary goal of making it easier for people to use other typefaces, too. This is probably as simple as creating variables for serif and sans-serif f

[2015-05-11 21:08] contolini opened #164 "Audit component repos"
Goal 4 of #155.

- [x] We agreed we're not going to worry about adding new components.
- [ ] Explain certain sections better (e.g. colors and sizings at the top of http://cfpb.github.io/cf-buttons/docs/) or just remove them. @Scotchester
- [x] Remove compiled CSS from right side of docs pages. @Scotchester (PR https://github.com/cfpb/cf-component-demo/pull/40)
- [x] ~~Delete deprecated components

[2015-05-11 21:13] contolini commented on #158
@Scotchester 1.0 for the meta repos just means we have confirmed they work with the 1.0 versions of all the components.

[2015-05-11 21:13] contolini commented on #158
Closing this because we agreed we're not adding any additional components to 1.0.

[2015-05-11 21:13] #158 closed

[2015-05-12 17:36] anselmbradford commented on #38
@himedlooff Is there a source AI file for that diagram somewhere?

[2015-05-12 19:08] contolini opened #165 "README badges"
I'm adding badges to all the components' repos. Which style do folks prefer?

- flat: ![Build Status](https://img.shields.io/travis/cfpb/cf-buttons.svg) ![Coverage Status](https://img.shields.io/coveralls/cfpb/dash/master.svg)
- flat squared: ![Build Status](https://img.shields.io/travis/cfpb/cf-buttons.svg?style=flat-square) ![Coverage Status](https://img.shields.io/coveralls/cfpb/dash/master.svg

[2015-05-12 19:10] Scotchester commented on #165
I vote Flat, but let's make sure the type color contrast is 508-compliant.

[2015-05-12 19:13] contolini commented on #165
Welp, it fails with a contrast ratio of 2.12:1

[2015-05-12 19:19] contolini commented on #165
JK the drop shadow on flat pushes it to 4.75:1. Going with flat.

[2015-05-12 19:19] #165 closed

[2015-05-12 19:25] Scotchester commented on #165
You can customize the colors, too, right?

[2015-05-12 19:55] contolini commented on #165
Only when creating custom badges with custom text. There may be other services that let you customize the colors but I'm cool with using flat.

[2015-05-12 20:06] Scotchester commented on #165
Ah, okay. I'm cool with that if the shadow makes it compliant.

[2015-05-13 13:16] mebates commented on #155
:tada: good work
May I also add an item at the end of the list:
5. Tell people about it (Open Tech blog, conference talks, twitter push, etc.)

[2015-05-13 20:15] himedlooff commented on #38
- Download this XML file https://gist.github.com/himedlooff/118c0f3895607fbbf900
- Go to https://www.draw.io/
- Choose "Save diagrams to: Device"
- Choose "Open existing diagram"
- Choose the XML file

[2015-05-13 21:29] anselmbradford commented on #38
Neato!

[2015-05-14 13:27] ascott1 opened #167 "Tooltip Component"
Looking at [front-end #46](https://github.com/cfpb/front-end/issues/46), we're using a few different tooltip plugins (Bootstrap and tooltipsy). Should we introduce a CF tooltip component? If yes, I'll offer to write it.

A couple of questions:
1. Have we settled on design standards for tooltips? @Scotchester @mebates @stephanieosan @benguhin
2. How do we want to write JS CF components going forwar

[2015-05-14 13:32] mebates commented on #167
The design standard hasn't been settled. @huetingj has been working on it recently: https://github.com/cfpb/design-manual/issues/139

[2015-05-14 13:47] ascott1 commented on #167
Sounds like good timing then! Once this is standardized, let's make it a CF component so we're not constantly restyling other libraries.

[2015-05-14 21:28] stephanieosan commented on #167
Ooooooh, tooltips of our own!

[2015-05-18 18:15] contolini commented on #163
@anselmbradford has graciously volunteered to review all my pa11y pull requests.

[2015-05-19 15:17] ascott1 commented on #161
Great change. This puts us closer to making CF more extensible for non-CFPB branded projects. :boom: :rocket:

[2015-05-19 15:21] ascott1 commented on #155
That's on our list @mebates! Once we hit 1.0, we're going to write a tutorial blog post on getting started with CF.

[2015-05-19 17:59] contolini commented on #161
Nice work @KimberlyMunoz! Do you think we're ready to check off the first checkbox above?

@Scotchester How important is the tertiary goal you mention above? Do you view it as a 1.0 requirement?

[2015-05-19 18:05] contolini commented on #167
@ascott1 You could probably start hacking out the functionality even if the design isn't finalized yet. Also: great idea!

[2015-05-19 18:22] KimberlyMunoz commented on #161
I just have to tag new releases. I hope to get those in today!

[2015-05-19 18:53] contolini commented on #161
:+1:

[2015-05-19 20:02] Scotchester commented on #161
@contolini Nah, I wouldn't say it's a 1.0 requirement.

[2015-05-19 20:06] KimberlyMunoz commented on #161
Quick PRs to update:

https://github.com/cfpb/cf-component-demo/pull/39
https://github.com/cfpb/generator-cf/pull/79
https://github.com/cfpb/cf-core/pull/38

[2015-05-28 14:24] stephanieosan commented on #167
I will re-open the design tooltips conversation to try to get a solution for you, @ascott1 :)

[2015-05-28 22:11] contolini opened #168 "Path to 1.0"
### Things we need to do:

1. [x] Set up automated accessibility tests. @contolini @anselmbradford
1. [x] Remove CFPB typefaces from all CF components. @KimberlyMunoz
1. [x] Refactor build process (per #151) on components' `dev` branches. @contolini
1. [x] Test `dev` branches in real CFPB environments. @contolini @anselmbradford @jimmynotjim
1. [x] Merge in `dev` branches and bump all CF component

[2015-05-28 22:11] contolini commented on #155
I wrote up formal steps over at #168.

[2015-05-28 22:11] #155 closed

[2015-06-01 20:10] #153 closed

[2015-06-01 21:32] Scotchester opened #170 "Document all components on a single page"
I don't think this idea has been covered before, but @niqjohnson suggested that having a page [like Bootstrap's showing every component](http://getbootstrap.com/components/) would be helpful. I tend to agree.

The one thing that gives me pause is the maintenance headache of having to update two repos (the actual component and then the docs) any time you make a change that requires updating the doc

[2015-06-01 21:46] niqjohnson commented on #170
To elaborate a little more: I've used Bootstrap to prototype/design in the browser for a while, and there are a few things about their docs that make that job a lot easier:

- The docs are (usually) authoritative and up to date, so I know I can go to one place to find out how to use any component I need (and be pretty confident that, if I can't find the component there, it doesn't exist)
- The doc

[2015-06-01 21:59] contolini commented on #156
All the components have Travis CI running pa11y tests!

[2015-06-01 21:59] #156 closed

[2015-06-01 22:03] Scotchester commented on #156
![my-hero](https://cloud.githubusercontent.com/assets/1044670/7924365/90430ae6-0888-11e5-94ee-53e06db2b1b4.gif)

[2015-06-01 22:21] contolini commented on #161
https://github.com/cfpb/generator-cf/pull/79 is merged so it looks like we're done here. :smiley:

[2015-06-01 22:21] #161 closed

[2015-06-01 22:22] #151 closed

[2015-06-01 22:43] KimberlyMunoz commented on #170
I agree something like that would be useful. Especially for something like the more visual components like cf-icons.

We could revamp the demo pages and link to those, however that really doesn't show how the components can be combined. That would seem to require some human curation.

[2015-06-03 20:52] contolini commented on #78
Closing due to cf-demo deprecation.

[2015-06-03 20:52] #78 closed

[2015-06-03 20:53] contolini commented on #84
See https://github.com/cfpb/generator-cf/pull/83. @anselmbradford and I have motioned to remove the task altogether.

[2015-06-03 20:56] contolini commented on #99
I recently discovered `hmda-explorer` is still using cf-colors. Because that project is retired, I don't think it's a good use of our time to transition the codebase. Let's just not delete our deprecated our repos.

[2015-06-03 20:56] #99 closed

[2015-06-03 21:24] ascott1 commented on #167
[This comment](https://github.com/cfpb/design-manual/issues/139#issuecomment-107711520) by @stephanieosan gives a really thorough description of the desired implementation.

[2015-06-03 21:59] contolini commented on #163
Donezo!

[2015-06-03 21:59] #163 closed

[2015-06-03 22:00] contolini commented on #124
Bumping this to v1.1 due to amount of work it would involve.

[2015-06-03 22:02] anselmbradford commented on #163
noice!

[2015-06-03 22:05] contolini commented on #113
The proper solution here is automated visual regression testing which is scheduled for v1.1.

[2015-06-03 22:15] contolini commented on #101
@Scotchester The Jekyll files listed above are no longer used, correct? Should we just delete the files rather than removing references to cf-demo in them?

[2015-06-03 22:47] contolini commented on #104
Given that there's only one component with JS tests, the bang-to-buck ratio is pretty low. Moving this to v1.1.

[2015-06-04 15:53] contolini commented on #140
Closing in favor of #170

[2015-06-04 15:53] #140 closed

[2015-06-04 15:54] #84 closed

[2015-06-04 16:18] contolini commented on #20
I dig @ell0ell0's lego blocks a lot. The only issue is that it doesn't scale well. We'll need a version with fewer dimples if we plan on shrinking it to place in a header.

[2015-06-04 16:24] contolini commented on #115
@himedlooff Where'd you leave off with this? Is this something I can continue to work on?

[2015-06-04 16:42] contolini commented on #148
Related question: When we tell people to download the compiled CSS, we send them to `cf.zip`. But that archive contains a demo page and a bunch of other stuff. The CSS is buried in `static/css/main.css`. Now that we have the generator, should `cf.zip` only contain the compiled CSS and JS?

[2015-06-04 16:50] Scotchester commented on #148
I think including a simple demo page is still important.

1. Part of CF, in my mind, is offering best practice guidelines for how an
HTML file is structured.
2. People who want the compiled download for rapid prototyping shouldn't
have to bother with creating a re HTML file from scratch and attaching the
CF assets to it.

[2015-06-04 16:51] contolini commented on #148
Cool, I'll restructure the archive. Assets in the root and a `demo` directory.

[2015-06-04 17:46] himedlooff commented on #115
Looks like all of the components are using color variables now so we can close this.

[2015-06-04 17:54] contolini commented on #115
:heartbeat:

[2015-06-04 17:54] #115 closed

[2015-06-04 17:55] himedlooff commented on #20
I think we have the `.ai` file if we need it

[2015-06-04 18:04] contolini commented on #164
@Scotchester Think you'll have time to get to no. 2 today or tomorrow? Otherwise I'll bump it to v1.1.

[2015-06-04 20:59] Scotchester commented on #164
I will not, sadly. 1.1 it is.

[2015-06-04 21:20] contolini commented on #164
No biggie.

[2015-06-04 21:20] #164 closed

[2015-06-04 21:21] contolini opened #173 "Better explain variables in components' docs"
E.g. colors and sizings at the top of http://cfpb.github.io/cf-buttons/docs/) or just remove them.

[2015-06-04 22:04] contolini commented on #162
Closing this in favor of #168

[2015-06-04 22:04] #162 closed

[2015-06-05 16:16] #148 closed

[2015-06-05 16:41] ascott1 commented on #167
And [we have a repo](https://github.com/cfpb/cf-tooltips). :tada:

[2015-06-05 16:45] Scotchester opened #176 "This is too meta"
I'm not a fan of the fact that the `gh-pages` branch of this repo is housing both the docs site and the master capital-framework component itself.

You get weirdness like:

- [it depending on itself](https://github.com/cfpb/capital-framework/blob/gh-pages/bower.json#L18)
- an unhelpful description in the Bower registry:

  ![screen shot 2015-06-05 at 12 39 21](https://cloud.githubusercontent.com/a

[2015-06-05 17:08] Scotchester commented on #101
Yes. See https://github.com/cfpb/capital-framework/pull/171#issuecomment-108122836.

[2015-06-05 17:08] Scotchester commented on #101
Don't delete `status.md`, though. I hope to revive that and make it useful somehow.

[2015-06-05 17:12] contolini commented on #176
Would this mean we'd change the default branch of this repo to `master`? Any ramifications of that?

BTW, good to have you back, @Scotchester. :smiley:

[2015-06-05 17:22] Scotchester commented on #176
Yes I think we would. I don't foresee any major ramifications.

Good to be back :) Though I've got to go back into my non-CF-projects hole for the rest of the day.

[2015-06-05 17:27] himedlooff opened #178 "Icons on the homepage not working"
The icon font isn't loading and thus the icons are not showing up:

![image](https://cloud.githubusercontent.com/assets/1093373/8011414/8578336a-0b86-11e5-93b2-59a2b82b5507.png)

[2015-06-05 17:34] contolini commented on #178
Whoopsie, it works locally but that's because `fonts/` is being ignored in `.gitignore`. I'll fix that. Related to https://github.com/cfpb/capital-framework/issues/176.

[2015-06-05 18:05] contolini commented on #176
Also: This repo should not list itself as a dep. That's a bug that needs to be fixed ASAP.

[2015-06-05 18:49] contolini opened #179 "[VZ] SemVer conventions"
This is to ensure we're all on the same page w/r/t Capital Framework hygiene.

The master component (this repo) doesn't increment anything because the caret notation in [`bower.json`](https://github.com/cfpb/capital-framework/blob/gh-pages/bower.json) ensures the latest version of the component (up to and excluding new major versions) will be installed.

The master component doesn't increment anyt

[2015-06-06 10:19] ascott1 commented on #178
This still isn't working for me. :frowning:

[2015-06-06 22:17] KimberlyMunoz commented on #179
I think this sounds great, but I'd just suggest making this into a table and adding it to CONTRIBUTING.md for reference.

[2015-06-08 17:00] #143 closed

[2015-06-08 18:04] #178 closed

[2015-06-10 19:54] Scotchester commented on #14
I believe this is no longer an issue.

[2015-06-10 19:54] #14 closed

[2015-06-12 15:09] mebates commented on #128
Yo! Where's this at? Would love to close out the Design Manual issue and get this into our design templates. https://github.com/cfpb/design-manual/issues/229

[2015-06-12 15:29] contolini commented on #128
@himedlooff Is this good-to-go? Does it just need to be packaged?

[2015-06-12 17:42] himedlooff commented on #128
It's been in use in cfgov-refresh for a while so it seems safe to package it up. One thing that's missing are tests.

[2015-06-26 17:35] contolini commented on #128
@himedlooff @Scotchester Is `custom-select` the best class for this? Why not something like `cf-select`?

[2015-06-26 18:40] himedlooff commented on #128
I think `.custom-select` gives a clue that it's a more involved pattern, not just a `<select>` element, but I guess `.select-menu` or `.select` would work.

[2015-06-28 19:49] contolini commented on #128
@himedlooff Cool, works for me.

[2015-07-29 19:38] ascott1 opened #182 "Create a component generator"
Creating a new CF component involves a lot of copy and pasting from an existing CF component. Should we make a generator to simplify this process? It may make spinning up the new components for the design manual quicker.

cc: @cfpb/front-end-team-write @cfpb/front-end-team-admin

[2015-07-29 19:50] wpears commented on #182
Prepare for an unfortunate naming conflict with [generator-cf](https://github.com/cfpb/generator-cf)! Otherwise, sounds good if you expect there to be an upswing in the amount of new components created.

[2015-07-29 19:52] ascott1 commented on #182
I'm thinking `generator-cf-component`?

[2015-07-29 19:58] wpears commented on #182
:rocket: You are requested and required to make it so :rocket:

Go forth and generate

[2015-07-29 20:01] Scotchester commented on #182
Yessssss :+1:

[2015-07-29 20:01] contolini commented on #182
Do it in Go.

Chris

On Wed, Jul 29, 2015 at 4:01 PM, Scott Cranfill <notifications@github.com>
wrote:

[2015-07-29 20:41] jimmynotjim commented on #182
I'd appreciate this because I have two components to build still.

[2015-07-31 13:45] ascott1 opened #183 "node-wcag tests failing"
The node-wcag tests seem to be failing for many (if not all) cf components. Here's the output:

<img width="936" alt="screen shot 2015-07-31 at 9 43 33 am" src="https://cloud.githubusercontent.com/assets/212533/9008498/c2b37556-3768-11e5-8d9e-cbe3b811d805.png">

Since the errors aren't specified, it's hard to diagnose what the problem is. @contolini any ideas?

[2015-08-10 19:10] contolini commented on #183
With `cf-buttons`, it's because the demo page has buttons that include [links without content](https://github.com/cfpb/cf-buttons/blob/gh-pages/demo/index.html#L311-L313). This violates WCAG-AA guidelines.

The proper way to do compound buttons would be to add visually hidden text:

[code]

[2015-10-01 10:35] ascott1 commented on #176
I'm way late to this game, but this is very off to me too. I never had considered that this would be used as a dependency and the fact that it's published to Bower at all seems like an accident/holdover from when this repo housed a component.

When this repo is being used as a dependency,  it's primarily for the CFPB specific theme which is also housed in the generator. My suggestion is that we sp

[2015-10-01 17:22] himedlooff commented on #176
I wonder if we set up the repo more like [Bootstrap's](https://github.com/twbs/bootstrap) where they have the docs in a sub directory on master and push only docs to gh-pages.

https://gist.github.com/cobyism/4730490
`git subtree push --prefix docs origin gh-pages`

[2015-10-08 17:12] KimberlyMunoz opened #190 "No documentation for cf-typography"
CF-typography's readme directs people to the Capital Framework documentation site for documentation. It's not included there.

https://cfpb.github.io/capital-framework/components/

[2015-10-08 18:15] Scotchester commented on #190
It's a little nuanced, but that's supposed to be talking about how to include cf-typography in your project. The Docs and Demo are linked at the top of the README, and at the top of the page.

[2015-10-08 18:16] KimberlyMunoz commented on #190
So cf-typography should be missing from this list of components?

[2015-10-08 18:19] Scotchester commented on #190
Oh, I see what you're saying. No, it should not be missing from that page.

[2015-10-09 22:16] KimberlyMunoz commented on #176
[Greenkeeper.io](http://greenkeeper.io/) can be used to do automatic PRs when things get out of date.

Although I've just been re-thinking the benefits of having all these modular repos versus one clearly maintained Capital Framework repo with the modules broken up into multiple, modular, clearly labeled LESS/JS files that can be commented out. That's probably throwing out the baby with the bathwa

[2015-10-16 20:09] ascott1 commented on #182
This initial version of this exists: https://github.com/cfpb/generator-cf-component!

Subsequent issues can be in that repo.

[2015-10-16 20:09] #182 closed

[2015-10-16 20:23] ascott1 opened #191 "Should we stop using auto-generated docs?"
The idea behind auto-generated documentation is a very good one, but in practice it has caused the documentation site to feel splintered and difficult to navigate.

I propose that we move from auto-generated docs to manually maintaining pages as party of the github.io site.

Some advantages:

- It gives us greater control over the documentation as a whole
- It means that we're not including docume

[2015-10-16 20:25] ascott1 opened #192 "Create a sample page/layout as part of the documentation"
Something along the lines of http://www.basscss.com/docs/guides/layout/

[2015-10-16 20:32] ascott1 opened #193 "Ditch purple and provide a nicer default color scheme"
It makes sense to not use CFPB colors by default, but the current default color scheme means that anyone outside of CFPB who would like to use CF would need to use a color overrides file to make anything look reasonable. What about defaulting to a nice non-CFPB color scheme such as http://clrs.cc/

[2015-10-16 20:36] ascott1 opened #194 "Add automated browser tests"
This might be part of a long-term vision, but automating our browser tests would help us to ensure that updating components doesn't negatively impact other components.

[2015-10-16 20:41] wpears commented on #193
Can you expand on why it makes sense not to use CFPB colors by default? I understand we don't want CF coupled too tightly too cfpb styles, etc., but imo the visual carry over between CFPB styles as implemented on public sites and in the docs would probably help more than it would hurt

[2015-10-16 20:45] ascott1 opened #195 "Should we be more explicit around pegging dependencies?"
This would force us to manually update components that rely on other components, but could avoid breaking stuff.

I'm also not super clear on the difference between using `~` and `^`.

[2015-10-16 20:53] ascott1 commented on #193
I _think_ that early on there was a request not to couple it too much to our brand. @Scotchester or @himedlooff may be able to expand on that better.

[2015-10-17 01:34] KimberlyMunoz commented on #193
YES!

How would folks feel about cribbing the colors from 18F's Web Standards for the non-CFPB defaults? https://playbook.cio.gov/designstandards/visual-style/#colors

[2015-10-17 14:25] contolini commented on #179
Relevant: https://github.com/semantic-release/semantic-release

[2015-10-17 14:28] contolini commented on #194
:100: Also, I'd kill for some *fast* local visual regression tests. It's been on the Delivery Team roadmap for a while now.

[2015-10-17 14:29] contolini commented on #193
@KimberlyMunoz :+1: Makes sense to me.

[2015-10-17 14:29] contolini commented on #192
:100: deargodyesplz

[2015-10-19 14:21] KimberlyMunoz commented on #192
Yes! Somewhat related to https://github.com/cfpb/capital-framework/issues/191

[2015-10-19 14:38] KimberlyMunoz commented on #191
I want to follow this issue because the auto-generated docs were one of the biggest things I struggled with when I first started contributing to CF. The way our docs are generated (and the usefulness of our docs in general) is a huge barrier to entry and we don't do a good job of documenting our documentation process.

Here are some of the issues I have with the auto-generated docs right now:
- Sm

[2015-10-19 16:19] ascott1 commented on #193
_Great_ idea @KimberlyMunoz! :us:

[2015-10-19 17:57] Scotchester commented on #193
:a: :heavy_plus_sign: idea, @KimberlyMunoz!

[2015-10-20 21:30] KimberlyMunoz commented on #191
One more thing, anytime any piece of CF gets updated the other modules will have a diff with documents and demos, which means we're constantly checking in the newest changes there and seeing this. Even if we're checking in a change that has nothing to do with those recently merged PRs.

![image](https://cloud.githubusercontent.com/assets/1860176/10621686/3bd15e90-7750-11e5-8959-77d4edaefdd7.png)

[2015-10-21 15:02] KimberlyMunoz commented on #193
Added a PR to cf-core to start porting over the 18F colors. https://github.com/cfpb/cf-core/pull/52

[2015-10-21 15:04] mistergone commented on #193
:+1: to @KimberlyMunoz, love this idea.

[2015-10-21 15:10] KimberlyMunoz commented on #191
Another thing. Our demos are filled with errors from our accessibility testing and fixing it one place takes forever, much less fixing it in all the repos. Switching over to the 18F colors will help, but it'd be much less stressful to maintain in one place.

[2015-10-21 21:09] KimberlyMunoz commented on #193
Added to cf-typography. https://github.com/cfpb/cf-typography/pull/43

[2015-10-22 12:58] contolini opened #196 "[VZ] CF Growing Pains"
![Growing Pains](https://cloud.githubusercontent.com/assets/1060248/10665655/a563f642-789a-11e5-8583-3ef920836a1e.jpg)

CF is rapidly growing (hooray!) and teams are using it (huge win!). Buuuut the bigger it gets, the more time it takes to maintain it. Two years ago [this week](http://GHE/flapjack/front-end/issues/30) we decided to architect CF components as separate repos. [Modularization and co

[2015-10-22 14:25] jimmynotjim commented on #196
Another issue I'm seeing is now that we're releasing more often, PRs quickly become stale due to either the author or the reviewer not having the same exact versions of another module. I'd hate to peg versions, because a release to one module means updating every other modules dependencies. At the same time, having the ability to install a component that's not released, like say my breakpoints bra

[2015-10-22 18:06] jimmynotjim commented on #195
I'm against pegging for reasons I pointed out in [Growing Pains](https://github.com/cfpb/capital-framework/issues/196#issuecomment-150240278)

[2015-10-22 18:50] Scotchester commented on #196
@contolini Definitely interested in you pursuing this concept and developing a POC.

@jimmynotjim If we don't peg dependencies, what's the plan for preventing accidental breakage?

And you bring up a good point about testing unreleased component WIPs. How would we pull that off in this kind of scenario? I'd like to avoid any copy-and-paste-based solution. I can maybe see some ways to handle it wit

[2015-10-30 14:24] contolini commented on #168
Onward to 2.0!

[2015-10-30 14:24] #168 closed

[2015-10-30 14:25] contolini commented on #35
Folks have settled on Browserify.

[2015-10-30 14:25] #35 closed

[2015-10-30 14:31] jimmynotjim commented on #35
cfgov-refresh has already moved on from Browserify to webpack due to single page component issues cc @anselmbradford

[2015-10-30 14:45] contolini commented on #35
@jimmynotjim @anselmbradford Do a 30-min Dev CoP on browserify vs webpack at some point plz.

[2015-10-30 14:47] Scotchester commented on #35
:+1:

[2015-10-30 18:25] cfarm commented on #196
yesssssssss one repo one repo

[2015-10-30 18:28] cfarm commented on #191
Yes kill it

We should integrate CF documentation in the Design Manual where it belongs, like the [US Web Design Standards](https://playbook.cio.gov/designstandards/).

[2015-10-30 18:54] cfarm commented on #191
Goals for Design Manual Docs:

* Docs are still updated and maintained in one place (CF)
* Markup code snippest are imported to Design Manual for easy reference
* Design Manual links to related components docs in CF for more detailed implementation notes

[2015-10-30 18:56] ascott1 commented on #191
I think @cfarm describes a good hybrid approach. Full documentation can live here while copy and paste-able markup can also exist in the design manual for easy reference.

[2015-10-30 19:25] contolini opened #197 "[VZ] Overview"
CFv2 will be a substantial restructuring tracked with the [Voltrazord milestone](https://github.com/cfpb/capital-framework/milestones/Voltrazord). The goal of this release is *speed*. Using CF quickly, contributing to CF quickly, squashing CF bugs quickly.

## Guiding Stories

As a CFPB front-end web developer,
I want to copy/paste CF HTML snippets,
So that I can quickly and confidently build UIs.

[2015-10-30 21:16] Scotchester commented on #191
I can dig it, @cfarm. I think that's actually something we wanted to do back in the day, just couldn't get around to it.

[2015-10-30 21:16] Scotchester commented on #191
"that" = somehow semi-automagically getting markup snippets from CF into the DM.

[2015-11-02 13:38] contolini commented on #191
Yinz have any thoughts on implementation details? How do you see docs living here and being consumed elsewhere (i.e. in the design manual)?

Proposal: Have a `docs.md`, `snippets.md` and `preview.html` in each component directory. They can be pulled into the design manual via a Grunt task. Using cf-buttons as an example:
- `preview.html` contains markup of all the buttons in their various states.

[2015-11-02 13:56] ascott1 commented on #191
Well played.

I agree that manually updating the design manual is less than ideal, though @contolini's proposal would still require some manual intervention to get the design manual to build with updates (unless I'm mis-understanding).

**Q:** How often does just the markup of a CF component in the design manual change? Is something like above worth the initial overhead? I want to avoid any soluti

[2015-11-02 13:59] contolini commented on #191
Making manual updates in *two* places is what I'd like to avoid. If we're only manually updating one place -- the design manual -- then I don't think we need any automagic processes like the one I described above.

[2015-11-02 14:08] ascott1 opened #198 "Should Capital Framework be more tightly coupled with the design manual?"
Up until now Capital Framework has been it's own project. Out of the box the styles (particularly fonts and colors) don't even explicitly match those of the design manual. These were intentional choices so that Capital Framework could have potential outside of CFPB (particularly within government).

@cfarm pointed out the following recently (paraphrased):

With the advent of the US Web Standards,

[2015-11-02 14:38] Scotchester commented on #198
Could you please elaborate on this? I am fairly sure I know what you are implying, but let's state it explicitly.

[2015-11-02 14:46] ascott1 commented on #198
Part of the intention of Capital Framework (at least my understanding of it) was that it had the potential to be used by other government agencies (as well as non-gov projects). The US Web Design Standards supplant the potential use case for Capital Framework to be used by other government agencies. This, potentially, impacts the need for CF to not be coupled to CFPB specific design.

[2015-11-02 14:51] Scotchester commented on #198
K, that's what I inferred. I agree, to an extent, though the USWDS are not as mature (in some respects—thinking mainly WRT supporting a build process) as ours, so there's still some potential use case for CF in government right now.

That being said, I'd still love to have it be useful non-gov entities, as well, though I recognize this should be a secondary priority to it being useful for us.

[2015-11-02 15:15] anselmbradford commented on #191
Sorry for the lack of implementation details, but it seems like it would be helpful to pipe `preview.html` as a stub into an automated test that checks for adherence to the specifics Design mocked up.

[2015-11-02 15:18] contolini commented on #191
:heart_eyes:

[2015-11-02 21:34] cfarm opened #199 "[VZ] Sprint 1"
This is what we decided to work on for our first CF 'sprint' at the last FEWD meeting

1. Make the components easier to find and contribute to, by combining into one repo. @contolini

2. Make the documentation easier to find + use as a CFPB FEWD, by exploring 2 options: the Github repo (@ascott1); Design Manual (@cfarm)

[2015-11-03 13:11] contolini commented on #197
@cfpb/front-end-team-admin Concrete user stories came out of yesterday's discussions. Acceptance criteria is still emerging. Hit me up here or on chat with any questions/concerns.

[2015-11-03 14:23] awolfe76 commented on #197
This is great.

A couple thoughts:

1. Speed - the point of a framework is to help us implement solution *quickly*. When using the framework I find the opposite happening. I think moving everything under the one repo, moving to only npm (not sure what this does to other teams), and clean HTML snippets will help here.
1. The build - whatever build tool is used, grunt/gulp/scripts, simple is great.

[2015-11-03 14:46] Scotchester commented on #197
Thanks for your thoughts, @awolfe76!

What slows you down with the current stuff we have?

If you use the generator, you get that in the form of our `cf-vars-overrides.less` file. Is there a more elegant way to handle this?

[2015-11-03 16:08] KimberlyMunoz commented on #199
One other thing we discussed (a subtask of 1) is to make issues easier to organize by combining them into one repo.

[2015-11-03 16:36] awolfe76 commented on #197
To be honest, it was a while back and I would have to try to build something with it again to really try to give you details. Which I'll do to be more helpful.

But from what I do remember, it took me a while to wrap my head around everything that was happening in the build process (maybe that was me?) but I don't think that it should take time to do. Could be more apparent. I did need to make twe

[2015-11-03 16:40] contolini commented on #197
@awolfe76 I really like the theme of "speed" for this release. And I think you're right that having clear documentation in a single location will do wonders.

[2015-11-03 16:42] KimberlyMunoz commented on #197
🙋🏽I've been working in CF since March and I still struggle to debug the build process. I keep forgetting about [cf-grunt-config](https://github.com/cfpb/cf-grunt-config) and it's not really clearly documented anywhere. Moving to one repo removes the need for that forgotten grunt repo. We have all our gulp tasks in one separated out folder and it's nice. 👌🏽

[2015-11-03 17:00] jimmynotjim commented on #199
We should include the v2 release of cf-layout and the breaking changes to colors proposed by the Design team

[2015-11-03 17:00] Scotchester commented on #197
There's an interesting parallel discussion thing happening now. @awolfe76 is talking mostly about _consuming the framework_, but @KimberlyMunoz's point (and the driving force between all the "single repo" talk), is about making it easier for _contributors to CF_.

@awolfe76 On vars/overrides: This is where the generator shines. It provides you with a project ready to roll that is set up with CFPB

[2015-11-03 17:06] contolini commented on #197
@Scotchester Agreed and those two discussion points conveniently align nicely with the two user stories at the top of this page.

[2015-11-03 17:58] awolfe76 commented on #197
I think of these as the same, we build it, we use it, we build it while using it. Using it is the only way to understand how/what to contribute back, outside of design change of course. A lot of the things I've seen mentioned, here and in other issues, help all around. Documentation, cleaner build, cleaner structure, etc.

[2015-11-03 18:38] mistergone commented on #198
I was going to post this in #191, but uh... it belongs here, doesn't it?

This might be a crazy idea (and I might be a crazy person), but I don't think a unified approach between CF and the design manual is a good idea. Instead of having CF's documentation in the design manual, let the design manual serve as the "ideal" for CF's features (and thus, its documentation). This allows for the design ma

[2015-11-03 21:11] jimmynotjim commented on #197
The only issue is when you don't know where a variable came from or what it does. Having everything in one vars file would make it a lot easier to understand relationships, especially when we use one variable as the value for another variable.

[2015-11-03 21:24] Scotchester commented on #197
I'm not clear what you're proposing. How do all the vars get more in a single file?

[2015-11-03 21:30] awolfe76 commented on #197
Not to speak for @jimmynotjim ... but from a contributing stand point they aren't in one file. They are scattered through repos and difficult to track down.

When consuming and using the generator, yes, one file can't be made smaller. :wink:

[2015-11-03 22:17] Scotchester commented on #197
@awolfe76 Yeah, clarified that with @jimmynotjim via chat. Again, the consumption/contribution tension...

I suggest that we put this specific discussion (variables all in one file) on hold until we figure out if the single-repo solution is viable. That will definitely impact what can/can't be done.

[2015-11-03 23:17] KimberlyMunoz commented on #12
I'm moving this to https://github.com/cfpb/front-end/

[2015-11-03 23:18] #12 closed

[2015-11-03 23:29] #16 closed

[2015-11-03 23:30] KimberlyMunoz commented on #16
We now have pa11y and are in the process of getting node-wcag in our repos. I'll open a separate issue for that.

[2015-11-04 00:48] KimberlyMunoz opened #200 "[cf-buttons] Incorrect Hover State"
Moved from https://github.com/cfpb/cf-buttons/issues/50

Buttons shouldn't use the link:hover color, the contrast is too low. Should use the same white color as the default state.

__Current Hover State__

<img width="235" alt="screen shot 2015-10-22 at 10 01 03 am" src="https://cloud.githubusercontent.com/assets/1280430/10667182/fb7f51a8-78a3-11e5-9694-3329e4779260.png">

__Correct Hover State__

[2015-11-04 00:50] KimberlyMunoz opened #201 "[cf-buttons] Add Full Width Buttons"
Moved from https://github.com/cfpb/cf-buttons/issues/49

The `__full` modifier needs to be ported [from cfgov-refresh](https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/preprocessed/css/cf-enhancements.less#L1191-L1214), but should be renamed to `__full-on-xs` to match the updated size naming schemes.

[2015-11-04 00:55] KimberlyMunoz opened #202 "[VZ] Adding Repository Fields to other cf-components"
This is an issue on multiple repositories. It was resolved on cf-icons in https://github.com/cfpb/cf-icons/pull/52 but needs to be added to other repos.

Without the repo fields this error happens:
`npm WARN package.json @ No repository field.`

Reported in:
https://github.com/cfpb/cf-buttons/issues/43
https://github.com/cfpb/cf-core/issues/37
https://github.com/cfpb/cf-forms/issues/31
https://git

[2015-11-04 13:08] awolfe76 commented on #197
:+1:  one step at a time.

[2015-11-04 15:47] KimberlyMunoz opened #203 "[VZ] Update CONTRIBUTING.md to give workflow for contributing"
Moved from https://github.com/cfpb/cf-buttons/issues/39 and applies generally to all cf-components.

While updating this project @anselmbradford  realized the `CONTRIBUTING.md` and docs he looked at on http://cfpb.github.io/capital-framework/contributing/ are too generic to guide a contributor in what needs to be done when fixing an issue and contributing to the project. Specifically what installa

[2015-11-04 15:57] KimberlyMunoz commented on #193
Moved from https://github.com/cfpb/cf-buttons/issues/39 and applies generally to all cf-components.

While updating this project @anselmbradford  realized the `CONTRIBUTING.md` and docs he looked at on http://cfpb.github.io/capital-framework/contributing/ are too generic to guide a contributor in what needs to be done when fixing an issue and contributing to the project. Specifically what installa

[2015-11-04 16:02] KimberlyMunoz commented on #154
Closing since we have discussion on this topic at https://github.com/cfpb/capital-framework/issues/191

[2015-11-04 16:02] #154 closed

[2015-11-04 16:27] KimberlyMunoz commented on #111
I talked with @Scotchester. We narrowed down the scope of the problem to be that we need a way for people in the Bureau who don't follow the repo to be aware of fixes and changes to the design manual that have made it to Capital Framework.

[2015-11-04 17:38] contolini commented on #202
Having everything in one repo will make fixes like this sooooo much easier.

[2015-11-04 17:44] KimberlyMunoz opened #204 "[cf-core] Add note about comments within .respond-to mixins"
Originally from https://github.com/cfpb/cf-core/issues/15

TIL that you cannot use traditional CSS `/* ... */` comments inside the statement block of our `.respond-to` mixins. Less will not compile, giving the following error:

[code]
Additionally, you cannot comment out **a single, unmatched curly brace** inside the `.respond-to` statement block. Less will get to the end of the document and think

[2015-11-04 17:46] KimberlyMunoz opened #205 "[cf-core] Add mixin for retina screen support"
Port over cfgov-refresh `.respond-to.dpi` mixin for retina support.

Originally reported in https://github.com/cfpb/cf-core/issues/16

[2015-11-04 17:49] KimberlyMunoz opened #206 "[cf-core] Should the base font be changed to avenir?"
There is discussion at https://github.com/cfpb/cf-core/issues/22

[2015-11-04 17:51] KimberlyMunoz opened #207 "[cf-core] Max-Widths on paragraph"
There was discussion on setting a rule on max-width with ems for long headings and/or paragraphs. The use case is that it would prevent paragraphs from getting past a readable length.

https://github.com/cfpb/cf-core/issues/25

[2015-11-04 18:06] anselmbradford opened #208 "[cf-core] Add variable for standard visual gap multipliers"
The visual design specs use multiples of 15 for padding/margin around visual components. In flapjack/v1, we have (perhaps incorrectly) been using `@grid_gutter-width` to say when something is using a standard margin or padding, such as:

[code]

I propose instead to create a set of variables dedicated to this design spec value to make it clearer when something is conforming to specs and also to al

[2015-11-04 18:06] KimberlyMunoz commented on #202
Worrrrd

[2015-11-04 18:17] anselmbradford opened #209 "[cf-core] Standardize visual offsets with helper function"
There are places in the flapjack/v1 codebase where margin or padding is offset to align with design specs to take into account line-height irregularities of a font, etc. Currently this are tracked through arbitrary code comments that include "eyeballed", "optical offset", "visually offset", etc.

I'd like to propose we create a helper function to make it clearer when something is being visually of

[2015-11-04 18:33] contolini commented on #179
I'm now realizing this will be an incredibly important issue once we have everything in one repo and are relying on auto-publishing scripts. Gonna codify it for CFv2.

[2015-11-04 18:34] KimberlyMunoz commented on #209
Honestly, I think we should move away from eyeballing in generally because it will always be fragile. But we'll bring it up in the next milestone meeting!

[2015-11-04 19:17] contolini opened #210 "[VZ] Manifest strategy"
In progress proposal. Feedback welcome.

Every CF component will have it's own dir in the capital-framework repo. In each dir, a `package.json` file will serve as its manifest. It will:

- Store basic metadata (name, description, version number, keywords)
- List the component's required dependencies (both external deps like `normalize.css` and internal ones like `cf-core`)
- *Not* list dev depende

[2015-11-04 19:41] KimberlyMunoz commented on #196
Concept posted in https://github.com/cfpb/capital-framework/issues/210

[2015-11-04 19:44] Scotchester commented on #209
This hasn't been widely disseminated yet, but we have actually already reached an accord with Design to do so. See cfpb/cf-core#53

[2015-11-04 20:14] contolini commented on #196
For the curious, here's my [WIP branch](https://github.com/contolini/capital-framework/tree/voltrazord).

[2015-11-04 20:36] KimberlyMunoz opened #211 "[cf-core] IE 11: Link underline only appears on first line"
From https://github.com/cfpb/cf-core/issues/43

While testing on IE11, we notice that if a link extended to the 2nd line, the underline style can only be seen on the first line.

<img width="772" alt="screen shot 2015-08-25 at 6 40 12 pm" src="https://cloud.githubusercontent.com/assets/2673022/9481982/28ec49d0-4b5d-11e5-831c-53a1c23fdb8e.png">

<img width="1070" alt="screen shot 2015-08-27 at 10 3

[2015-11-04 20:36] KimberlyMunoz opened #212 "[cf-core] Moving IE support to other component"
https://github.com/cfpb/cf-core/issues/40

[2015-11-04 20:38] KimberlyMunoz opened #213 "[cf-core] Set up self-hosted webfonts"
Original issue: https://github.com/cfpb/cf-core/issues/33

The code provided for using our webfont provider's CDN is not cutting it. We need to set up our fonts to be self-hosted. It's essentially a three-step process:
- [ ] Upload font files to a location on one of our servers
- [ ] Get access controls in place (to ensure fonts can only be accessed from approved hostnames)
- [ ] Update the `@font

[2015-11-04 20:58] KimberlyMunoz opened #214 "Align CF Readmes with OS project template"
Original issue: https://github.com/cfpb/cf-core/issues/32

Move CF projects toward using a Readme more in-line with https://github.com/cfpb/open-source-project-template. Of particular note:
- Include the `LICENSE` (or exclude the link from the Readme). See https://github.com/cfpb/cf-typography/issues/31.
- Include installation instructions for generating the docs. E.g. Run `npm install`, `grunt ve

[2015-11-04 21:00] KimberlyMunoz opened #215 "[cf-core] Include classes for table element display aliases"
Original Issue:  https://github.com/cfpb/cf-core/issues/41

In some cases it's valuable to use `display: table-*` properties to build a table, for example:

- As a fallback for flexbox.
- To allow a table row to be a link.
- To use table-like layout in places where a table isn't semantically correct.

Can cf-core provide utility class mappings for table element --> table display property?
Like:

[

[2015-11-04 21:02] KimberlyMunoz commented on #212
https://github.com/cfpb/cf-grid/issues/25

[2015-11-04 21:05] KimberlyMunoz opened #216 "[cf-grid] Is the .ie negative right margin override really necessary?"
Original Issue: https://github.com/cfpb/cf-grid/issues/19

@contolini @Scotchester any idea why IE needed `-0.26em` instead of `-0.25em`? When I remove the override and let it use `-0.25em` the grid still works fine as seen here: http://himedlooff.github.io/cf-grid/custom-demo/

If we can ditch it then we'd save on creating an extra heap of rules. We can also leave out the conditional class for `i

[2015-11-04 21:06] KimberlyMunoz opened #217 "[cf-grid] no-gutter class"
https://github.com/cfpb/cf-grid/issues/5

Via @ell0ell0

[2015-11-04 21:10] KimberlyMunoz opened #218 "[cf-grid] Nested columns dont' have flush gutters in IE8"
Originally reported in https://github.com/cfpb/cf-grid/issues/3

## URL
http://cfpb.github.io/cf-grid/custom-demo/

## Actual Behavior
Scroll down to the "Nesting" section. There are some nested 4-span columns whose gutters don't properly pull out flush with their parent gutters.

## Expected Behavior
Nested column gutters on the first and last column should pull out flush with the parent gutters.

[2015-11-04 21:14] KimberlyMunoz opened #219 "[cf-icons] Make a more user-friendly demo page"
Original issue: https://github.com/cfpb/cf-icons/issues/13

Currently, neither the docs nor demo pages do a great job giving a simple high-level overview of what cf-icons has to offer. Compare with the [Font Awesome icon list](http://fontawesome.io/icons/). I think we should develop a similar page for cf-icons.

Options for where this page could live:
- In this repo, along side the existing docs a

[2015-11-04 21:15] KimberlyMunoz opened #220 "[cf-icons] SVG over icon font option?"
https://github.com/cfpb/cf-icons/issues/46

via @anselmbradford

[2015-11-04 21:20] KimberlyMunoz opened #221 "Documentation site broken in Windows 7, IE8"
Reported in https://github.com/cfpb/cf-icons/issues/54

This is what the demo pages shows in Sauce Labs:

<img width="162" alt="screen shot 2015-09-29 at 5 51 10 pm" src="https://cloud.githubusercontent.com/assets/702526/10179241/b4aa0eb8-66d2-11e5-8866-e6ae6649e958.png">

[2015-11-04 21:25] Scotchester commented on #216
Reposting my comment from the previous thread:

I am fairly certain I wrote that bit. For whatever reason, when I was testing it back then, I found that `-0.25em` on IE would round just high enough that columns would break onto new lines. I can't be sure what has changed between now and then, but I don't particularly care :) If your tests are showing all good, I'm fine with your plan.

[2015-11-04 21:40] KimberlyMunoz opened #222 "[cf-forms] Accessible valid/invalid inputs"
via @himedlooff in https://github.com/cfpb/cf-forms/issues/4

[2015-11-04 21:51] #101 closed

[2015-11-04 22:10] KimberlyMunoz opened #223 "[cf-forms] Invalid/validated inputs need focus styling"
via @himedlooff https://github.com/cfpb/cf-forms/issues/5

[2015-11-04 22:13] KimberlyMunoz opened #224 "[cf-forms] Update input with button to handle more than one adjoining button"
via @anselmbradford in https://github.com/cfpb/cf-forms/issues/29

[2015-11-04 22:39] KimberlyMunoz opened #225 "[cf-forms] Use datalist element with select element fallback"
From @cfarm in https://github.com/cfpb/cf-forms/issues/34

[2015-11-04 22:58] KimberlyMunoz opened #226 "[cf-forms] Markup patterns need updating for best labeling practices"
via @Scotchester in https://github.com/cfpb/cf-forms/issues/35

[2015-11-04 23:21] KimberlyMunoz opened #227 "[cf-forms] Range value labels"
via @cfarm in https://github.com/cfpb/cf-forms/issues/44

[2015-11-04 23:23] KimberlyMunoz opened #228 "[cf-forms] deprecate warning + success alert style at the form field level"
Original issue at https://github.com/cfpb/cf-forms/issues/39

Some pages (such as retirement) make use of the field-level warning style, which has been deprecated in the latest Design Manual standards (see https://github.com/cfpb/design-manual/issues/346).

![screen shot 2015-09-25 at 12 08 51 pm](https://cloud.githubusercontent.com/assets/702526/10105713/32809b52-637e-11e5-8079-e564410828f6.png)

[2015-11-04 23:24] KimberlyMunoz opened #229 "[cf-forms] Text input fields"
Via @cfarm in https://github.com/cfpb/cf-forms/issues/36

[2015-11-05 00:12] KimberlyMunoz opened #230 "[cf-layout] Document content_intro"
via @anselmbradford in https://github.com/cfpb/cf-layout/issues/14

[2015-11-05 00:22] KimberlyMunoz opened #231 "[cf-typography] Link lists have cursor:text not cursor:pointer style"
Reported by @anselmbradford in https://github.com/cfpb/cf-typography/issues/32

[2015-11-05 00:35] KimberlyMunoz opened #232 "[cf-typography] Make .date mixin?"
Reported by @anselmbradford in https://github.com/cfpb/cf-typography/issues/37

The [`.date` class](https://github.com/cfpb/cf-typography/blob/gh-pages/src/cf-typography.less#L231-L235) seems a little inflexible. Some areas may want to use a date and designate it with a `.date` class, but not have it be `h5()`. Would it make sense to make this a mixin instead? Implementing projects could do:

[cod

[2015-11-05 13:38] mistergone commented on #214
I'll take these ones on as soon as I can:
- [ ] cf-tables
- [ ] cf-tooltips

[2015-11-05 13:42] mistergone commented on #210
:+1:

:+1:

If we are going to do one repo, I like all this. :heavy_plus_sign::100:

[2015-11-06 00:43] KimberlyMunoz opened #233 "Investigate use of ARIA attributes and potential accessibility benefits"
via @himedlooff in https://github.com/cfpb/cf-expandables/issues/1

[2015-11-06 00:46] KimberlyMunoz opened #234 "[cf-expandables] Lack of bottom spacing when using expandable-group and expandable__padding together"

[2015-11-06 00:47] KimberlyMunoz opened #235 "[cf-expandables] Expandable groups should have a top-border when a header is absent"
via @anselmbradford in https://github.com/cfpb/cf-expandables/issues/45

When an expandable group has a header there is a horizontal rule between the header and the expandable items. However, when a header isn't used the horizontal rule is gone:

With header:
![screen shot 2015-04-03 at 12 34 00 pm](https://cloud.githubusercontent.com/assets/704760/6985127/e250a866-d9fd-11e4-8e97-9059e4dd54db.png)

[2015-11-06 00:48] KimberlyMunoz opened #236 "[cf-expandables] Demo page has Javascript error"
via @anselmbradford in https://github.com/cfpb/cf-expandables/issues/58

[2015-11-06 00:49] KimberlyMunoz opened #237 "[cf-expandables] Better handling of missing dependencies"
via @himedlooff in https://github.com/cfpb/cf-expandables/issues/44

It's not totally clear that you need to wire up `jquery.easing` in order to use this. It would be nice if the README explained this OR it would be cool if the JS would not break if `jquery.easing` wasn't available. Maybe something like:

[code]

[2015-11-06 16:45] KimberlyMunoz opened #238 "[cf-expandables] Click Show/Hide creates animation queue"
via @sephcoster in https://github.com/cfpb/cf-expandables/issues/53

@sebworks is looking into this.

[2015-11-06 17:05] KimberlyMunoz opened #239 "[cf-expandables] Content should be fully shown and show/hide markers should be hidden w/o JS"
https://github.com/cfpb/cf-expandables/issues/55

When JavaScript is off, a user should be able to read everything in the expandable and the show/hide markers should be hidden.

@anselmbradford has a working version of this at https://github.com/cfpb/cfgov-refresh/pull/1134

[2015-11-09 16:24] contolini opened #240 "Scoped npm packages"
It might make sense to scope all CF components to `@cf` or `@capital-framework` in npm. See https://docs.npmjs.com/misc/scope

I'm not convinced it's necessary or useful but it's something to look into.

[2015-11-09 22:23] cfarm opened #241 "[VZ] Vision / roles for upcoming CF improvements"
I called a meeting with the following folks to talk about vision and roles for planning the upcoming CF improvements that we've already started through our FEWD standards meetings.
## Background
- @virtix asked @Scotchester, @jimmynotjim, @KimberlyMunoz, and @cfarm to spend time improving CF and its adoption.
- @ascott1 has made CF/Voltrazord the focus of the FEWD meetings now that we've got [fron

[2015-11-10 17:23] jimmynotjim commented on #241
Had a thought on the Code Review workflow. If we plan sprints well enough it should be a lot easier to know when to expect PRs and what the subject will be. Bug fixes will always come up, but new features should be added to a backlog and prioritized before work begins.

On that note, @contolini can you make sure to leave us with a prioritized list before you take off so we can do some planning/ass

[2015-11-10 17:56] contolini commented on #241
@jimmynotjim Roger wilco. There will still be lots of juicy work to do.

[2015-11-10 21:35] ascott1 opened #242 "Updated docs initial proposal"
## What is this?

This is a proposal for how we might better integrate our documentation into the cfpb.github.io/capital-framework site. The format of these docs is not that dissimilar from the current docs, but the design and proposed integration are different.

## Design & content

The goal would be to move the component documentation into the site itself. This would bring it more visually in li

[2015-11-10 21:40] ascott1 commented on #242
I also think that more attention should be paid to how we organize the component list in the navigation. I think we should start with `cf-core` and `cf-typography` and then build up based on capabilities. Here's how I've organized it in my brain. Discussion of this may be best moved to another issues if there is interest:

- cf-core
- cf-typography
- cf-forms
- cf-tables
- cf-buttons
- cf-icons
-

[2015-11-10 21:45] KimberlyMunoz commented on #242
I think buttons and icons should go near the top because they both are dependencies of cf-forms and other repos, but that logically makes sense to me.

[2015-11-13 00:14] cfarm opened #243 "Importing component docs into the Design Manual proof-of-concept"
This is a pretty cruddy right now proof-of-concept which uses @contolini's `voltrazord` version of the `cf-buttons` component to include the `usage.html` file in the Design Manual. The render output currently shows the elements + code snippets from `usage.html`.
## Code
- [See code diff in the Design Manual](https://github.com/cfpb/design-manual/compare/gh-pages...cfarm:vz-docs?expand=1)
- The cod

[2015-11-13 00:19] cfarm commented on #197
@contolini not sure where else to put this but i added some fixes to yr VZ branch https://github.com/contolini/capital-framework/compare/voltrazord...cfarm:voltrazord?expand=1

[2015-11-13 00:42] cfarm commented on #243
I was able to update the Design Manual proof of concept to import the `usage.md` file which compiles to HTML inside the buttons page.

update to the gulp script for this is here:
https://github.com/contolini/capital-framework/compare/voltrazord...cfarm:vz-docs?expand=1#diff-2d8b3de65848d4bac4e9b8c99343ef4e

## updated screenshot
![screen shot 2015-11-12 at 7 41 35 pm](https://cloud.githubuserconte

[2015-11-13 00:43] cfarm commented on #243
So, yay. We can write our docs as HTML/Markdown inside the components and import them wherever the heck we want.

[2015-11-13 14:36] Scotchester commented on #197
@cfarm You could submit a PR to his fork with those :)

[2015-11-13 14:43] Scotchester commented on #243
Couple things:

- GitHub Pages only offers support for [a limited number of Jekyll plugins](https://help.github.com/articles/using-jekyll-plugins-with-github-pages/). We won't be able to use render.rb unless we go through with setting up our own servers for hosting Jekyll sites (a la 18F Pages).
- Will we be able to get the HTML snippets to render with line breaks? If not, that's kind of a showsto

[2015-11-13 16:25] contolini commented on #243
I would think that's an easy fix considering GitHub parses that [markdown file](https://github.com/contolini/capital-framework/blob/voltrazord/src/cf-buttons/usage.md) with line breaks. They must be getting stripped out somewhere during the build phase. Something to investigate.

[2015-11-13 16:27] cfarm commented on #243
@Scotchester good to know! I'll look into updating this to use the default _includes folder.

[2015-11-13 18:23] contolini commented on #197
@cfarm @Scotchester Let's open PRs against cfpb's voltrazord branch because there's some history wonkiness with mine.

[2015-11-13 18:52] cfarm commented on #243
I've got an addition to the Design Manual's `grunt copy` task that moves usage.md files into the includes folder. New next steps:

* Syntax highlighting for the code snippets
* Get designer input on the layout for including elements, snippets, and usage notes

[2015-11-13 19:29] cfarm commented on #243
## Workflow for updating Design Manual with this setup

1. First, in capital-framework voltrazord, edit the component you want to update
1. manually update the version number in package.json
1. gulp build
1. npm publish from tmp
1. update capital-framework package.json
1. **npm install in the design manual repo**

[2015-11-17 14:58] Scotchester commented on #198
:+1: to almost everything @mistergone wrote. Those reasons are exactly why I'm hesitant about over-integrating the two things.

That said, I think that doing something somewhere in the middle is a good idea. I think having _some_ core HTML snippets in the Design Manual would be valuable. My current inclination is to provide snippet files in the component repos that are meant for inclusion in the D

[2015-11-17 20:00] cfarm commented on #241
My first stab at some ~vision statements~ :crystal_ball:

### Vision for documentation

Capital Framework documentation is easy to navigate, code snippets have clear use-cases and examples, and developers can update the documentation quickly and easily in one place alongside their changes to the codebase.

### Vision for community engagement
Internal:
Capital Framework fulfills the needs of CFPB d

[2015-11-17 20:03] cfarm commented on #241
also here are our Core values to help with the visioning https://github.com/cfpb/front-end#our-core-values

[2015-11-18 15:12] mistergone commented on #198
@Scotchester - "Maybe the Design Manual might pull ahead of CF" is a thing my brain made up, and I thought might be a possibility. But since there are people webbed between the CF projects and the DM project, those people might regulate against that kind of thing. :grin: I definitely don't have a reason to advocate the idea, I was just considering all possible futures.

[2015-11-19 16:52] jimmynotjim commented on #197
Didn't know which issue was best for this, but just came across [MailChimp's Doc site](http://developer.mailchimp.com/documentation/mailchimp/) and a few things I think we could borrow. First is breaking apart the more friendly guides and the more technical docs. This would make the project much more approachable to new users while still allowing seasoned users to find code details. Second is the

[2015-11-20 15:54] Scotchester opened #245 "[cf-core] Create unstyled button utility"
Per the conversation at https://github.com/cfpb/cf-tables/pull/16#discussion-diff-45252892, let's create an unstyled button utility class/mixin in `cf-utilities.less`.

[2015-12-04 00:48] contolini commented on #179
After writing the code to implement this, I think the symbiosis introduced by Voltrazord changes this versioning strategy. Now that the components are stored inside of the master `capital-framework` repo, a non-breaking change to `cf-whatever` is also a non-breaking change to `capital-framework` since its the same codebase.

I think it makes our versioning less complicated: when a component increm

[2015-12-04 13:09] Scotchester commented on #179
@contolini As a baseline rule, I like that. My only concern is that I don't think I'd want `capital-framework` to automatically get a new version/release immediately when a component is updated. There may be times when we want to batch updates to multiple components together in one release of the complete framework.

[2015-12-04 16:47] contolini commented on #179
@Scotchester Can you provide an example of when we'd want to do that? If there's new code entering master, I'd feel obligated to increment capital-framework's version number.

[2015-12-07 21:26] jimmynotjim commented on #179
The recent changes to headings would be a good example. It required changes to core plus three different components.

[2015-12-07 22:31] contolini commented on #179
In that situation I envision a WIP pull request being opened and it not
being merged into master until all three components have been updated.
They'd all enter master at once and CF gets bumped appropriately.

On Monday, December 7, 2015, Jimmy Wilson <notifications@github.com> wrote:

--
Chris

[2015-12-08 22:58] jimmynotjim commented on #179
Oh yeah, guess that makes sense. I'm convinced :+1:

[2015-12-08 23:03] contolini commented on #179
It'd also be fine if the components were updated one-by-one but every time
an updated component entered master I'd expect a CF bump.

Chris

On Tue, Dec 8, 2015 at 5:58 PM, Jimmy Wilson <notifications@github.com>
wrote:

[2015-12-10 18:41] anselmbradford commented on #235
Header is no longer part of the stack in [GHE]/github-enterprise-assets/0000/0160/0001/6749/b5e55d5e-82c1-11e5-91a7-244e59e22ddd.png so this issue will no longer be applicable when atomic design specs make it over here.

[2015-12-11 19:43] contolini commented on #242
:+1:

[2015-12-21 19:49] contolini opened #248 "[VZ] Git branching model"
Voltrazord is in its final stages. Here's my proposal for CF contributions going forward. For background, please skim: http://nvie.com/posts/a-successful-git-branching-model/

#### TL;DR

 - Don't touch master. All PRs should be opened against "canary", the staging branch.
 - Don't use forks anymore. To edit CF, create a new branch locally, make your changes, and then push that branch directly to

[2015-12-21 20:19] contolini commented on #248
I was intentionally overly-verbose above. I assure you it's not as complicated as it seems. I can go over it on a future call.

[2015-12-21 21:11] awolfe76 commented on #248
:+1: - nice work!

[2015-12-21 21:26] KimberlyMunoz commented on #248
:+1: This is very similar to how v1 has been using the flapjack branch and will be a huge improvement to how we manage releases right now.

[2015-12-22 16:48] contolini commented on #240
Backlogging this. Scoping CF makes sense but is not too important.

[2015-12-30 17:52] Scotchester commented on #248
Makes sense to me! :+1:

[2015-12-31 18:22] stephanieosan commented on #242
There's also a crew of UXers working on organization and content strategy for the design manual. It might make sense to have one of them peek over here and provide any suggestions based on how they're reorganizing over there.

[2016-01-06 05:18] #199 closed

[2016-01-06 05:21] contolini commented on #202
:+1: Voltrazord is alive. Voltrazord has destroyed this issue.

[2016-01-06 05:21] #202 closed

[2016-01-06 05:24] contolini commented on #210
Implemented via a gulp task: https://github.com/cfpb/capital-framework/blob/canary/scripts/gulp/copy.js#L38-L55

[2016-01-06 05:24] #210 closed

[2016-01-14 21:04] anselmbradford opened #261 "[cf-forms] input-with-btn height between button and input is wrong"
Default input-with-btn gap and rounded corners removed to show that button is slightly taller than input:
![screen shot 2016-01-14 at 3 34 32 pm](https://cloud.githubusercontent.com/assets/704760/12337477/4d7e325a-bad8-11e5-8e3a-ed1772167a3c.png)

Probably due to change in font-size on button text.

[2016-01-15 18:45] Scotchester commented on #157
I believe this is closed now that Voltrazord is done. Feel free to re-open if I missed something.

[2016-01-15 18:45] #157 closed

[2016-01-15 18:46] Scotchester commented on #179
I believe this is closed now that Voltrazord is done. Feel free to re-open if I missed something.

[2016-01-15 18:46] #179 closed

[2016-01-15 18:49] Scotchester commented on #196
I believe this is closed now that Voltrazord is done. Feel free to re-open if I missed something.

[2016-01-15 18:49] #196 closed

[2016-01-15 18:52] Scotchester commented on #197
I believe this is closed now that Voltrazord is done. @jimmynotjim Could you move your last comment to a more doc-centric issue?

[2016-01-15 18:52] #197 closed

[2016-01-15 18:53] Scotchester commented on #29
I think this is no longer needed. Existing projects are more likely to be (are being) rebuilt from scratch, rather than bolting on CF.

[2016-01-15 18:53] #29 closed

[2016-01-15 18:54] Scotchester commented on #31
I think this might still be worth doing. Renaming to reflect that CF is now built with Gulp, and moving out of VZ milestone.

[2016-01-15 19:17] cfarm commented on #242
I'm meeting with @marteki to talk about the design manual work today

[2016-01-15 19:18] Scotchester opened #262 "Get docs site back to minimum level of correctness"
The docs site is now out of date in several significant ways. This should be corrected before we go through with a complete docs overhaul.

- [x] No more Bower
- [x] app.js -> main.js
- [x] Option to use Gulp
- [x] Replace Contributing section temporarily with content from capital-framework README
- [x] Create zip file of current latest release and upload

Plus anything else you find.

[2016-01-15 19:24] Scotchester commented on #242
[Hopefully this project will get picked up at the Hackathon.](https://github.com/cfpb/hackathon/issues/33) We'll revisit at the CF meeting in two weeks to see if anything more needs to be done.

[2016-01-15 19:29] Scotchester opened #263 "Deprecate all the old component repos"
- Leave all old tags in place for folks who might be pulling older versions with Bower.
- Leave source code in master.
- Follow example of [cf-colors](https://github.com/cfpb/cf-colors)

[2016-01-15 19:34] Scotchester opened #264 "Add cf-tables to Capital Framework"
Existing singleton repo: https://github.com/cfpb/cf-tables

Test out (and document!) the process of adding a new component to Voltrazord.

Consult with @contolini, if necessary.

[2016-01-15 19:38] Scotchester commented on #191
Superseded by the two new doc improvement paths #242 and #243).

[2016-01-15 19:38] #191 closed

[2016-01-15 19:39] Scotchester commented on #176
Closed with the completion of Voltrazord.

[2016-01-15 19:39] #176 closed

[2016-01-15 19:52] Scotchester opened #265 "Devise an easier way to encapsulate CF themes"
Major driver: It's very weird to have generator-cf be the canonical location of things like CFPB's `brand-palette.less` and our `cf-theme-overrides.less`.

[2016-01-15 20:21] jimmynotjim commented on #242
Copied from #197

[2016-01-19 18:16] anselmbradford commented on #263
Done!

[2016-01-19 18:16] #263 closed

[2016-01-19 18:17] ascott1 commented on #263
:clap: thanks @anselmbradford!

[2016-01-21 06:49] #248 closed

[2016-01-21 06:50] contolini commented on #248
Seems like this has been working well. If that changes we can reopen this thread.

[2016-02-01 21:09] ascott1 commented on #262
Done by @contolini as part of #266.

[2016-02-01 21:09] #262 closed

[2016-02-12 19:06] Scotchester commented on #265
End of Sprint 1 update: Had no time to work on this during the sprint. Anticipating that I'll have more time for it in Sprint 2.

[2016-02-12 19:08] Scotchester commented on #264
End of Sprint 1 update: PR is open! (see link above)

Should be able to be closed out within a day or two.

[2016-02-12 19:14] Scotchester commented on #243
End of Sprint 1 update: @cfarm has met with DM content folks, but hasn't had time to work on it. Should have more time early in March.

We intend to break this into smaller subtasks. Stay tuned!

[2016-02-12 19:15] Scotchester commented on #242
End of Sprint 1 update: @ascott1 hasn't had time to work on it.

We intend to break this into smaller subtasks. Stay tuned!

[2016-02-12 19:16] Scotchester commented on #193
End of Sprint 1 update: @KimberlyMunoz Started testing stuff out, but brokenness in generator-cf was making things difficult. Will pick this up in Sprint 2 when generator-cf is fixed.

[2016-02-12 19:18] Scotchester commented on #242
Semi-related: @jimmynotjim started work on filling out the `usage.md` files with a lot of the guidance that used to live in our Topdoc docs. Will create a new issue for each component to be tackled separately.

[2016-02-12 19:22] Scotchester opened #273 "[cf-core] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-core/docs/).

[2016-02-12 19:22] Scotchester opened #274 "[cf-buttons] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-buttons/docs/).

[2016-02-12 19:29] Scotchester commented on #242
Subtasks:
- [ ] Set up importing of `usage.md` files into CF docs site pages.
- [ ] Bring in those files as they are completed on a rolling basis.
- [ ] User test the docs (nuBEWDs, UXers who code).
- [ ] Set up new issues to track UX improvements.

[2016-02-12 19:29] #242 closed

[2016-02-12 19:37] Scotchester opened #275 "[cf-expandables] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-expandables/docs/).

[2016-02-12 19:38] Scotchester opened #276 "[cf-forms] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-forms/docs/).

[2016-02-12 19:39] Scotchester opened #277 "[cf-grid] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-grid/docs/).

[2016-02-12 19:39] Scotchester opened #278 "[cf-icons] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-icons/docs/).

[2016-02-12 19:40] Scotchester opened #279 "[cf-layout] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-layout/docs/).

[2016-02-12 19:41] Scotchester opened #280 "[cf-pagination] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-pagination/docs/).

[2016-02-12 19:42] Scotchester opened #281 "[cf-typography] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-typography/docs/).

[2016-02-12 19:52] Scotchester opened #282 "Set up importing of usage.md files into CF docs site pages"
Per the end of #242, we want to set up the ability for our docs site to import a CF component's `usage.md` file and place it on a page.

[2016-02-16 16:43] KimberlyMunoz opened #283 "[cf-layout] Add border to Featured Content Module"
After merging #260 into our project, we have a lot of missing borders where we have `border__border` and `border__flush`, which was how we added borders to the FCM. The borders should be added to the FCM itself.

![image](https://cloud.githubusercontent.com/assets/1860176/13083255/36040a6c-d4a2-11e5-9f70-93e0097fac38.png)

[2016-02-16 16:49] Scotchester commented on #283
Is this viewable on one of our dev servers?

[2016-02-16 16:52] KimberlyMunoz commented on #283
Not until it makes it to refresh, you can see something like it on <flapjack>/the-bureau. Otherwise, you have to pull down the project and create an FCM to see it.

[2016-02-16 22:22] jimmynotjim commented on #283
The solution seems to be to break apart the `block` and the FCM. I realize now combining the two on a single element was shortsighted. Wrapping the FCM in the block and adding the border to the base FCM styles fixes all the issues.

[2016-02-16 23:18] KimberlyMunoz commented on #283
Should I close this issue or rename it to "Add border to FCM"?

[2016-02-17 18:59] jimmynotjim commented on #283
Renaming it seems fine, the block changes are in our project specifically, but anyone that's used the FCM might have a similar situation.

[2016-02-17 20:00] anselmbradford commented on #275
Would https://github.com/cfpb/capital-framework/pull/284 be the best reference for updating this issue?

[2016-02-17 20:05] Scotchester commented on #275
No, I think this branch that Jimmy started working on would be the best thing to reference: https://github.com/cfpb/capital-framework/compare/usage-update

[2016-02-23 20:59] #264 closed

[2016-02-25 21:40] Scotchester commented on #265
## Draft proposal of how this could be done

We'll discuss more at tomorrow's meeting, but feel free to review and comment ahead of time!

- Themes have their own repo, e.g, **cf-theme-cfpb**.
- Themes are standard npm package, installed like any other.
- Themes have a common entry point: `theme.less`.
- `theme.less` imports:
  - `brand-palette.less`
  - `licensed-fonts.css`
  - `cf-theme-override

[2016-02-26 17:53] Scotchester commented on #204
Discovered more info about this today.

The problem seems to be be related to our previous method of concatenating all CF less files before compilation. Here's what I encountered:

- Working on a legacy project, fin-ed-resources, I replaced the previous version of cf-layout with the most recent version of it.
- Received the error described.
- Removed the entirety of the updated component from the

[2016-02-26 17:53] #204 closed

[2016-02-26 19:31] Scotchester commented on #282
Initial POC is done and live (see PR #289)

Before closing this issue, let's get cf-tables added to the list.

[2016-03-07 23:17] Scotchester commented on #265
WIP: https://github.com/Scotchester/cf-theme-cfpb/tree/working-it

[2016-03-11 19:16] Scotchester opened #295 "[cf-tables] Complete usage.md"
Fill it out with usage guidance akin to what was found in [the older Topdoc docs](https://cfpb.github.io/cf-tables/docs/).

[2016-03-11 19:25] ascott1 opened #297 "Add cf-typography to documentation site"

[2016-03-11 19:29] Scotchester commented on #265
POC in a project: https://[GHE]/CFGOV/fin-ed-resources/pull/54

Next steps:
1. PR from my fork of cf-theme-cfpb to the upstream and release on npm
2. Update Parents PR to use the published package

[2016-03-11 19:48] Scotchester opened #298 "Document the hotfix flow"
See #248

Please document the hotfix workflow in CONTRIBUTING.md and on the docs site page for Contributing.

Include a note about potential conflicts when Travis pushes to `canary` at the end of the releasing process.

[2016-03-11 19:57] Scotchester commented on #282
:boom: Done!

[2016-03-11 19:57] #282 closed

[2016-03-11 20:39] contolini commented on #273
@jimmynotjim Throw a sentence at the top of the file mentioning cf-core is consumed by all other components but not one you'll want to use on its own. Unless that's not true. Then ignore everything I just wrote.

[2016-03-16 21:12] #297 closed

[2016-03-22 21:11] Scotchester commented on #265
PR for cf-theme-cfpb is open! cfpb/cf-theme-cfpb#1

A review would be appreciated :)

[2016-03-25 18:18] Scotchester commented on #265
Update: cf-theme-cfpb is now live on npm! https://www.npmjs.com/package/cf-theme-cfpb/

[2016-03-25 18:39] Scotchester opened #303 "Exploring security best practices with npm"
In light of recent events, do we need to take any action to protect ourselves from broken dependencies or from hijacking?

Definitely explore [shrinkwrapping](https://docs.npmjs.com/cli/shrinkwrap).

[2016-03-25 19:08] Scotchester opened #304 "Use .gitattributes to avoid merge conflicts in CHANGELOG"
Perhaps this technique will reduce the number of PRs that have to be updated before being mergeable?

http://krlmlr.github.io/using-gitattributes-to-avoid-merge-conflicts/

[2016-03-29 15:38] jimmynotjim commented on #304
The "Update" section of this post verifies https://about.gitlab.com/2015/02/10/gitlab-reduced-merge-conflicts-by-90-percent-with-changelog-placeholders/

[2016-03-29 15:41] marteki commented on #304
FPO has been using it successfully on both the `college-costs` and `retirement` repos. Merge conflicts due to the CHANGELOG have gone to nil.

[2016-03-29 16:14] jimmynotjim commented on #304
@marteki Score, thanks for the confirmation

[2016-05-13 19:35] KimberlyMunoz commented on #278
Just committed this to the usage.md branch.

[2016-05-13 21:46] Scotchester commented on #277
Pushed an update to the `usage.md` branch.

**To do:** Figure out how/if we can get the grid examples rendering on the page.

[2016-05-13 22:09] mistergone commented on #295
I pushed a new `usages.md` for cf-tables here: https://github.com/cfpb/capital-framework/blob/usage.md/src/cf-tables/usage.md

[2016-05-14 03:43] jimmynotjim commented on #273
@contolini missed this note before. I think there are use cases for core without any components, and we may even have projects currently working that way. @Scotchester might know.

[2016-05-16 14:07] Scotchester commented on #273
I don't think anything uses it without _any_ other CF components, but a sentence explaining cf-core's general role  might still be good.

[2016-05-16 15:38] contolini opened #312 "CF's post install hook is incompatible with shrinkwrapping"
This was [discovered](https://github.com/cfpb/college-costs/pull/155/files/f0f05aa111a50a851f6863c448406e65517f9dd9#r63370576) when pairing with @marteki last week.

Projects that list CF as a dependency and are shrinkwrapped will complain that modules like `normalize-legacy-addon` are "extraneous". This is because after CF is installed, [this script](https://github.com/cfpb/capital-framework/blob

[2016-05-18 20:27] KimberlyMunoz commented on #233
WAI-ARIA is reviewing what the accessible interactions should be for expandables/accordions here:
https://www.w3.org/TR/wai-aria-practices-1.1/#accordion

[2016-05-20 18:17] contolini commented on #281
@sebworks HEY HEY HEY

[2016-05-20 18:17] contolini commented on #274
@cfarm I think you were out during our `usage.md` party. Do you have time to update `cf-buttons`?

[2016-05-20 18:19] contolini commented on #277
@Scotchester push yer stuff up.

[2016-05-20 18:27] cfarm commented on #274
werking.

[2016-05-20 18:32] cfarm commented on #276
this one is looking great.

[2016-05-20 18:33] cfarm commented on #274
done https://cfpb.github.io/capital-framework/components/cf-buttons/ (I did nothing this is done already. I can maybe add some navigation?)

[2016-05-20 18:46] cfarm commented on #274
i added some navigation

[2016-05-20 20:58] #205 closed

[2016-06-07 22:19] marteki opened #321 "[cf-layout] Component documentation includes examples from cf-buttons"
To view:
Go to https://cfpb.github.io/capital-framework/components/cf-layout/, and scroll down.

(I don't have permissions on this repo to add labels... so I didn't. 😛 )

[2016-06-15 21:51] anselmbradford opened #322 "Absolute URLs broken on github.io site"
- Visit https://cfpb.github.io/capital-framework/getting-started/
- Click `generator-cf` or `Compiled source` and note URL is mangled.

Seems to need adjustment to the logic in https://github.com/cfpb/capital-framework/blob/gh-pages/_includes/section-nav.html

[2016-06-16 15:14] contolini commented on #298
Donezo.

[2016-06-16 15:14] #298 closed

[2016-06-17 18:11] #273 closed

[2016-06-17 18:11] #274 closed

[2016-06-17 18:11] #275 closed

[2016-06-17 18:11] #276 closed

[2016-06-17 18:11] #277 closed

[2016-06-17 18:11] #278 closed

[2016-06-17 18:11] #279 closed

[2016-06-17 18:11] #280 closed

[2016-06-17 18:11] #281 closed

[2016-06-17 18:11] #295 closed

[2016-06-17 18:12] #193 closed

[2016-06-17 18:22] contolini opened #324 "Write automated tests for hubot-capital-framework"
To make bugs easier to spot and fix.

https://github.com/cfpb/hubot-capital-framework

[2016-06-17 18:23] #304 closed

[2016-06-17 18:29] Scotchester opened #325 "Docs need some general cleanup and styling fixes"
All of the component usage docs have been updated and are in much better shape. Time to polish them up a little bit.
- [x] Several pages have broken HTML examples, probably from simple malformed HTML
- [ ] Headings following code blocks could use more top margin
- [ ] Give each page a table of contents at the time that links down to that page's subsections
  - Perhaps style it in a nice little box

[2016-06-17 18:32] Scotchester commented on #325
@mistergone to check in on this when he's back in two weeks.

[2016-06-29 01:08] #324 closed

[2016-07-05 16:28] contolini opened #329 "Document how to update CF.com"
[CF's documentation](https://cfpb.github.io/capital-framework/) is hosted on the [gh-pages branch](https://github.com/cfpb/capital-framework/tree/gh-pages) of this repo. When components' `usage.md` files are updated, how do we push those changes to the documentation website?

See https://github.com/cfpb/capital-framework/pull/328#issuecomment-230516433.

[2016-07-05 16:32] contolini opened #330 "Automate CF.com documentation updates"
After we [document](https://github.com/cfpb/capital-framework/issues/329) how to update [CF's documentation](https://cfpb.github.io/capital-framework/), it'd be ideal to automate the process. Hopefully this would be as simple as having Travis checkout `gh-pages`, run `gulp` and pushing to GitHub.

See https://github.com/cfpb/capital-framework/pull/328#issuecomment-230516433.

[2016-07-06 17:30] contolini commented on #329
Fixed by https://github.com/cfpb/capital-framework/pull/333.

[2016-07-06 17:30] #329 closed

[2016-07-06 17:34] #236 closed

[2016-07-06 17:56] KimberlyMunoz commented on #325
Talked with Chuck today and since he's on two teams right now and I've been working in the documentation, I'll take this on.

[2016-07-06 18:45] KimberlyMunoz commented on #322
The links on the navigation of contributing also need fixing.

https://cfpb.github.io/capital-framework/contributing/

[2016-07-06 20:25] KimberlyMunoz commented on #111
The release process in FEWD seems to take care of the issue internally.

[2016-07-06 20:25] #111 closed

[2016-07-06 22:42] KimberlyMunoz opened #335 "Can we add the testing checklist to CFPBot PRs?"
[We have a great testing checklist.](https://cfpb.github.io/capital-framework/contributing/testing-snippet.html) We should include it in our release PRs to make sure we're running through the browser checklist before a (major) release.
## Current behavior
- This is what a CF Release PR looks like:
  https://github.com/cfpb/capital-framework/pull/334
## Expected behavior
- It looks like that but ha

[2016-07-06 22:50] contolini commented on #335
An excellent idea.

[2016-07-06 22:56] KimberlyMunoz commented on #190
Typography has a page now!

https://cfpb.github.io/capital-framework/components/cf-typography/

[2016-07-06 22:56] #190 closed

[2016-07-12 14:43] jimmynotjim opened #337 "Notes on adapting Atomic Design"
**I've been collecting notes during our discussions and adding my own thoughts. Feel free to add/remove as you see fit**
# Atomic Design in Capital Framework

**TLDR:**
- Not easy to update bits and pieces (will require a full versioned release)
- A few components that haven't been converted by the v1 team yet (possibly workshop with entire D&D team)
  - Hero
  - Feature Content Module
  - Forms (

[2016-07-14 18:35] KimberlyMunoz commented on #200
I noticed this is fixed.

https://cfpb.github.io/capital-framework/components/cf-buttons/

[2016-07-14 18:35] #200 closed

[2016-07-14 21:47] niqjohnson opened #339 "[cf-tables] Tables can't be sorted down on page load"
Tables can't be sorted down on page load.
## Current behavior

Sortable tables like this:

[code]

are not sorted on page load. However, replacing `sortable__start-down` with `sortable__start-up` will correctly sort the table on page load.
## Expected behavior

The table should sort down by the indicated column on page load.
## Steps to replicate behavior
1. Create a sortable table with one column

[2016-07-14 21:54] contolini commented on #339
Good find -- having that duplicate selector there is likely a mistake. cc'ing @mistergone to confirm.

[2016-07-15 14:53] KimberlyMunoz commented on #232
Hey Ans, a little background on this. Why wouldn't we be able to create a .date__small or .date__big class? I'm wondering if the mixin approach is really atomic.

[2016-07-15 14:53] KimberlyMunoz commented on #232
@anselmbradford

[2016-07-15 18:24] Scotchester commented on #322
Done!

[2016-07-15 18:24] #322 closed

[2016-07-15 18:26] jimmynotjim commented on #240
This is done, yeah @contolini

[2016-07-15 18:27] jimmynotjim commented on #19
This might be possible with the Sandbox. Lets look into it again after v4 is released.

[2016-07-15 18:28] jimmynotjim commented on #31
This has been automated, closing.

[2016-07-15 18:28] #31 closed

[2016-07-15 18:29] jimmynotjim commented on #90
Docs are completely rebuilt, is this still relevant?

[2016-07-15 18:31] anselmbradford commented on #232
@KimberlyMunoz Yeah, I think you're right. The original issue was that dates were used in several different contexts, some of which didn't make sense to have an h5 size setting. One suggestion I'd have with that approach is if possible to lean toward modifiers that describe the context of where the date is used instead of the appearance, so like instead of `date__big` it might be `date__heading` f

[2016-07-15 18:31] jimmynotjim commented on #128
This has been replaced and will become an atomic component during the workshop next week. Closing

[2016-07-15 18:31] #128 closed

[2016-07-15 18:31] jimmynotjim commented on #152
Completed with the new docs updates.

[2016-07-15 18:31] #152 closed

[2016-07-15 18:32] KimberlyMunoz commented on #232
Thanks, I'm going to close this issue. I'm sure .date__big and .date__heading will happen as the need arises.

[2016-07-15 18:32] #232 closed

[2016-07-15 18:32] contolini commented on #243
@cfarm What's the status of this? It sounds like with the ongoing design manual revamp it may be easier to pull the DM into CF docs rather than the other way around. Want to discuss next week during the atomic design workshop?

[2016-07-15 18:32] jimmynotjim commented on #192
This is done yeah?

[2016-07-15 18:33] KimberlyMunoz commented on #303
We're shrinkwrapping now

[2016-07-15 18:33] #303 closed

[2016-07-15 18:33] jimmynotjim commented on #195
done with shrinkwrapping.

[2016-07-15 18:33] #195 closed

[2016-07-15 18:33] Scotchester commented on #303
Continues in #312

[2016-07-15 18:33] contolini commented on #303
shwinckwap

[2016-07-15 18:34] Scotchester commented on #90
Obsolete.

[2016-07-15 18:34] #90 closed

[2016-07-15 18:34] jimmynotjim commented on #206
This has been done in cfgov-refresh and should make it's way into the cfpb theme for Capital Framework that @Scotchester is working on.

[2016-07-15 18:36] Scotchester commented on #192
@ascott1 That basscss page is gone. Can you please describe what kind of sample thing it was that you wanted?

[2016-07-15 18:38] Scotchester commented on #237
Atomic expandable (coming very soon) doesn't require jQuery Easing.

[2016-07-15 18:38] #237 closed

[2016-07-15 18:39] Scotchester commented on #240
Agreed in 7/15 meeting that there's no value to be gained here.

[2016-07-15 18:39] #240 closed

[2016-07-15 18:43] jimmynotjim commented on #213
Related, I saw this yesterday - https://www.zachleat.com/web/comprehensive-webfonts/

[2016-07-18 13:24] jimmynotjim opened #340 "Atomic Design Workflow"
Helpful instructions and tips for converting existing components to Atomic Design Organization

**Install CF Sandbox**
1. Follow the [installation instructions](https://github.com/jimmynotjim/capital-framework-sandbox#installation).
2. Click around to ensure the local server is rendering the sandbox correctly.
3. Stop the server (ctrl+c).

**Link your component**

~~1. Navigate to the root of your

[2016-07-18 13:43] jimmynotjim opened #342 "Convert Featured Content Module to Atomic Design"
As part of the v4 atomic design update, convert the existing Featured Content Module to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

__How to Build an Atomic Component__

[Atomic Design Workflow](https://github.com/cfpb/capital-framework/issues/340)
[Making Sense of Atomic Design](https://about.futurelearn.com/blog/atomic-design-mo

[2016-07-18 13:44] jimmynotjim opened #343 "Convert Hero to Atomic Design"
As part of the v4 atomic design update, convert the existing Hero to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

__How to Build an Atomic Component__

[Atomic Design Workflow](https://github.com/cfpb/capital-framework/issues/340)
[Making Sense of Atomic Design](https://about.futurelearn.com/blog/atomic-design-molecules-organisms/)

[2016-07-18 13:45] jimmynotjim opened #344 "Convert Multi-Select to Atomic Design"
As part of the v4 atomic design update, convert the existing Custom Multi-Select to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

__How to Build an Atomic Component__

[Atomic Design Workflow](https://github.com/cfpb/capital-framework/issues/340)
[Making Sense of Atomic Design](https://about.futurelearn.com/blog/atomic-design-molecu

[2016-07-18 13:46] jimmynotjim opened #345 "Convert Forms to Atomic Design"
As part of the v4 atomic design update, convert the existing Forms to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

__How to Build an Atomic Component__

[Atomic Design Workflow](https://github.com/cfpb/capital-framework/issues/340)
[Making Sense of Atomic Design](https://about.futurelearn.com/blog/atomic-design-molecules-organisms/

[2016-07-18 14:13] jimmynotjim opened #346 "Standardize BEM naming of variables and classes"
Update the variable and class names to a more consistent use of BEM throughout the project. Underscores should be used to break up a module from it's parent.

**Correct**

 `@pull-quote_body`

**Incorrect**

`@micro-copy-text`
## Current behavior

There are a mix of naming formats

Ex. (https://github.com/cfpb/capital-framework/blob/bc13d43a183b8b7046252c89250326b437ebd3c1/src/cf-typography/usage.

[2016-07-18 16:08] Scotchester commented on #346
I don't think this is as straightforward as you hope.

For example, `.micro-copy` and `.date` are single elements. The `-text` portion of them is not a child module. Similarly, `-hover` is not a child module.

[2016-07-19 13:46] jimmynotjim commented on #346
I think there's plenty of room for discussion here.

 `body` could be standardized as the label for main text colors?

`-hover` is a state, and could then be a modifier as `__hover`?

[2016-07-19 20:20] Scotchester opened #348 "Precompiled CSS file should be run through Autoprefixer"
(so that projects not compiling the Less themselves will have better browser support)

[2016-07-19 21:15] KimberlyMunoz commented on #348
Another issue: Do we remove any prefixes we already have in the code base?

[2016-07-20 13:23] KimberlyMunoz commented on #342
Related Design Manual Issues:
https://github.com/cfpb/design-manual/issues/386
https://github.com/cfpb/design-manual/issues/351

[2016-07-20 13:26] KimberlyMunoz commented on #345
Related Design Manual Issues:

https://github.com/cfpb/design-manual/issues/229
https://github.com/cfpb/design-manual/issues/236
https://github.com/cfpb/design-manual/issues/290
https://github.com/cfpb/design-manual/issues/346

I also did some work on v1 with updated the code Cat wrote with forms and I'll also link that in this thread.

[2016-07-20 13:33] KimberlyMunoz commented on #345
Related v1 PRs:
https://github.com/cfpb/cfgov-refresh/pull/1199
https://github.com/cfpb/cfgov-refresh/pull/1273

[2016-07-20 13:35] KimberlyMunoz commented on #344
Multiselect code

https://github.com/cfpb/cfgov-refresh/blob/52d28039f9e7425a362b7f13330c5e0055f0668a/cfgov/unprocessed/js/molecules/Multiselect.js

See it in use here:
http://www.consumerfinance.gov/about-us/blog/

[2016-07-20 13:38] KimberlyMunoz commented on #343
There's two heroes, the version on the home page and the one on the landing pages.

https://github.com/cfpb/cfgov-refresh/blob/12c7b435e10a7a8662b37452de25069c01c411a1/cfgov/jinja2/v1/_includes/molecules/home-hero.html

https://github.com/cfpb/cfgov-refresh/blob/12c7b435e10a7a8662b37452de25069c01c411a1/cfgov/jinja2/v1/_includes/molecules/home-hero.html

https://github.com/cfpb/cfgov-refresh/blob/1

[2016-07-20 13:47] jimmynotjim commented on #343
Ignore the home page hero, it's a one-off thing that at some point should be replaced with the standard hero if possible. This is the relevant issue for the Design Manual => https://github.com/cfpb/design-manual/issues/348.

There is an outstanding Platform issue to make the standard hero bleed edge to edge, so there would be no gutter around photo heros such as this one.

<img width="511" alt="sc

[2016-07-20 13:49] jimmynotjim commented on #348
Are there projects using the precompiled CSS and not importing the Less files directly?

[2016-07-20 13:51] contolini commented on #348
I vote yes.

[2016-07-20 14:25] cfarm commented on #345
@anselmbradford's branch https://github.com/cfpb/capital-framework/tree/update_form_elems this contains the cfgov-refresh forms (non atomic)

[2016-07-20 14:38] cfarm commented on #345
Here's the Design Manual latest standard for forms (yet to be merged to Design Manual master) http://cfarm.github.io/design-manual/ui-toolkit/form-fields.html

[2016-07-20 14:40] KimberlyMunoz commented on #348
We offer a precompiled CSS option on our website, so we should make sure that has the same support as the Less files.

[2016-07-20 14:47] marteki commented on #342
Use cases determined:
* Video of people
* Animated videos
* Maps (with centered focus but needed info on the side)
* Images (with text or info needed from sides)

Questions asked, and decisions made:
* Scaling vs cropping?
  * Cropping!
* Where should we anchor where to crop from?
  * Ask in Wagtail CMS two questions: "Are you featuring a video? (If so, it'll crop from the center)." and "Are you f

[2016-07-20 15:00] amycesal commented on #342
^ always make the image full HEIGHT. (not width)

[2016-07-20 15:20] sephcoster commented on #342
The current recommendation from the workshop team is to do the following:

1. Create multiple Wagtail organisms / content types for selection by content editors that include:
  * Video (crop center)
  * Maps (anchor bottom right crop left)
  * Image / Default (anchor bottom left)

1. Update cf-layout to include `.less` for each of those three named atomic classes (for example: `a-fcm-video`, `a-fc

[2016-07-20 15:27] designlanguage commented on #344
The example [shown here](http://www.consumerfinance.gov/about-us/blog/), the height of the dropdown gives no indication that there are more than 5 options.

![screen shot 2016-07-20 at 11 21 58 am](https://cloud.githubusercontent.com/assets/10562544/16992228/833d61d6-4e6c-11e6-8bc6-e7af49d5f0b0.png)

There should be an affordance to indicate when there are more. I recommend cutting off the last vi

[2016-07-20 15:33] cfarm commented on #345
I made this here PR for the select elements https://github.com/cfpb/capital-framework/pull/350

[2016-07-20 15:37] niqjohnson commented on #345
Here's the plan for atomizing the slider shown at http://cfarm.github.io/design-manual/ui-toolkit/form-fields.html#sliders.

[code]

Notes:

- `.a-label` should be the standard `h4` label used with any other form element; that's a change form what's on the draft design manual page right now
- `.m-slider_value` hasn't had any development work done yet; the idea is that there's some text (under the

[2016-07-20 16:36] jimmynotjim commented on #348
My question was more how do we enforce the prefixing on the less files? We could include a note in the usage doc, but once the less files leave this project, it's up to the subsequent project to ensure everything is properly prefixed.

[2016-07-20 16:46] jimmynotjim opened #352 "Update cf-core to Atomic Design"
As part of the v4 atomic design update, convert the appropriate bits of cf-core to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

__How to Build an Atomic Component__

[Atomic Design Workflow](https://github.com/cfpb/capital-framework/issues/340)
[Making Sense of Atomic Design](https://about.futurelearn.com/blog/atomic-design-molecul

[2016-07-20 16:47] jimmynotjim opened #353 "Update cf-expandables to Atomic Design"
As part of the v4 atomic design update, convert the appropriate bits of cf-expandables to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

**How to Build an Atomic Component**

[Atomic Design Workflow](https://github.com/cfpb/capital-framework/issues/340)
[Making Sense of Atomic Design](https://about.futurelearn.com/blog/atomic-design-

[2016-07-20 16:48] jimmynotjim opened #354 "Update cf-tables to Atomic Design"
As part of the v4 atomic design update, convert the appropriate bits of cf-tables to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

__How to Build an Atomic Component__

[Atomic Design Workflow](https://github.com/cfpb/capital-framework/issues/340)
[Making Sense of Atomic Design](https://about.futurelearn.com/blog/atomic-design-molec

[2016-07-20 16:49] jimmynotjim commented on #353
CFGov Refresh Code:

 - https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/css/organisms/expandable.less
- https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/css/organisms/expandable-group.less
- https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocessed/js/organisms/Expandable.js
- https://github.com/cfpb/cfgov-refresh/blob/flapjack/cfgov/unprocess

[2016-07-20 17:07] jimmynotjim commented on #340
Ans and I discussed what should and shouldn't be updated to an atomic element during the workshop today. The guidelines we came up with are:

- If it can't stand on it's own as an element, for example a paragraph or list item have minimal styles added to them and don't need a class name every time they are used, but a button is more complex and so it should be atomized.
- If it's not a utility, ut

[2016-07-20 17:54] sonnakim commented on #345
Here's the proposal for radio buttons with large target areas
[code]

[2016-07-20 18:53] jimmynotjim opened #356 "Version 4 (aka Atomic) Release"
_Components:_
- [x] cf-core
  - [x] Code
  - [x] Docs
  - [x] Sandbox
  - [x] PR
- [x] cf-buttons
  - [x] Code
  - [x] Docs
  - [x] Sandbox
  - [x] PR
- [x] cf-expandables
  - [x] Code
  - [x] Docs
  - [x] Sandbox
  - [x] PR
- [x] cf-forms
  - [x] Code
  - [x] Docs
  - [x] Sandbox
  - [x] PR
- [x] cf-grid
  - [x] Code
  - [x] Docs
  - [x] Sandbox
  - [x] PR
- [x] cf-icons
  - [x] Code
  - [x] Docs

[2016-07-21 14:44] ielerol commented on #343
While working on this, we discovered that if the hero text is not long enough for a full line, the text element width shrinks and the image ends up in the wrong place. The solution probably involves converting the heroes to use flexbox instead of table cells, but it's a low priority since we're unlikely to ever have too little text in a hero on the live site.

[2016-07-21 17:44] anselmbradford commented on #348
Question on this: What is the use case for projects to import the less file instead of importing the precompiled CSS?

[2016-07-21 17:57] jimmynotjim commented on #348
Every project that uses the variables and mixins imports the Less files. It's really the precompiled CSS files that are an outlier.

[2016-07-21 17:59] anselmbradford commented on #348
Ah, right, thanks @jimmynotjim

[2016-07-21 18:00] jimmynotjim commented on #348
✋

[2016-07-21 19:55] sebworks opened #357 "Do we need a Javascript framework to support Atomic Components?"
As we begin to migrate components to Capital Framework it appears we might benefit from using a Javascript framework. Just wanted to gather folks input.

React? Angular? Microframework? Roll our own?

[2016-07-22 13:53] jimmynotjim opened #358 "Capital Framework Meeting - 7/30/2016"
__Proposed Agenda for 7/30 Meeting__

Now that we all have a starting point in Atomic Design, let's discuss our efforts to implementing that work to the project. Topics:

- Are there any questions or concerns on the [proposed Atomic workflow](https://github.com/cfpb/capital-framework/issues/340#issue-166092567)?
  - How do we handle dependency changes (ex who's responsible for updating all the oth

[2016-07-22 18:52] Scotchester commented on #340
Those rules make sense on their face. As you say, I'm sure we'll come across things that are still not straightforward as we go, but we can discuss them when that happens.

I am curious, though, to know which layout styles you think should probably get a `u-` prefix.

[2016-07-25 14:40] #348 closed

[2016-07-25 18:10] jimmynotjim commented on #340
Nearly everything, other than the Hero and FCM it's all layout utilities and very little is able to stand out as a component.

[2016-07-25 18:14] mistergone commented on #357
I am not a fan of framework stacks. Whatever we require in this respect, I think we could easily build internally, hopefully keeping it very small.

Angular, React, etc - for me, it always comes back to building an app on the shifting sands of proprietary skills and third-party points of failure.

[2016-07-25 20:24] jimmynotjim commented on #357
Agreed with @mistergone, roll something ourselves that's hopefully pretty small, yet useful enough that each component can share common scripts rather than having to duplicate work across components.

[2016-07-25 22:47] KimberlyMunoz commented on #357
This seems like something we can revisit later. We should focus on getting this release shipped, especially since we don't have many elements that require JavaScript at this point.

[2016-07-26 15:10] jimmynotjim commented on #357
Unfortunately, it's an issue right now. There are a bunch of utilities in the expandables and multi-select components that need to get figured out to get those update to for the atomic release. Otherwise I'd agree to table it for the fall.

[2016-07-26 16:26] KimberlyMunoz commented on #357
Having 2-3 things that require JavaScript doesn't seem to be a reason to make a decision on a a huge framework. Why the change in thinking?

[2016-07-26 16:36] jimmynotjim commented on #357
That's why I was voting for rolling our own with just what we need. We can get started off quickly with what's required to continue working on those three components for the v4 release and then in the future only add new bits as they come up vs tons of code we won't ever need.

[2016-07-26 17:10] jimmynotjim commented on #340
I've updated both of my PRs (https://github.com/cfpb/capital-framework/pull/326/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R29 and https://github.com/jimmynotjim/capital-framework-sandbox/pull/11/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R14) to include an automated NPM Linking script. Once those are in, it'll be easy for everyone to add their own component to the scripts and remove a lot of the

[2016-07-26 17:12] jimmynotjim commented on #340
Kim brought up two concerns in chat, that we should probably discuss a bit before (and during) Thursday's meeting.

- How do we handle dependency changes (ex who's responsible for updating all the other components button markup, how do we keep the scope tight in the buttons PR)?
- What's the priority order for updating components (ex bottom up or easiest to hardest)?

[2016-07-26 19:53] Scotchester commented on #340
I think it makes the most sense for the person updating a component to also update any other component that depends on it to use the new class names.

I'm not sure it matters, if we're going for a bit, all-at-once release of v4.

[2016-07-26 21:23] KimberlyMunoz commented on #325
This is a huge task, and will touch a lot of the same stuff as the Atomic work. I talked with @ascott1 about priorities and atomic work will be ranked higher for the time being.

[2016-07-26 21:35] KimberlyMunoz commented on #340
In a case like changing buttons or grid, once those get changed a lot of other stuff changes with it. Since the markup is going to be changing a lot, it probably makes sense to get stuff like atoms and utilities in first so that people using them in organisms can properly test and account for the new changes. Otherwise, the work involved with things like buttons and grid is going to hold them up s

[2016-07-26 21:40] KimberlyMunoz commented on #358
[Also to discuss:](https://github.com/cfpb/capital-framework/issues/340#issuecomment-235337847)

What's the priority order for updating components (ex bottom up or easiest to hardest)?

[2016-07-27 13:08] sebworks commented on #357
The JS just needs to be a bit more uniform.  The CSS is already at a place where most components look very similar in terms of structure and markup. The uniformity across components makes it easier to learn, debug, and contribute to Captial Framework. It's one of the first things contained in our front-end standards:

The conversation is also pertinent because it deals with the core utilities that

[2016-07-27 14:41] KimberlyMunoz commented on #357
@sebworks, didn't you find an article that informed how you organized the new v1 expandables? Could you share that here?

[2016-07-27 15:29] jimmynotjim commented on #325
Docs:

- [ ] cf-core
- [ ] cf-icons
- [ ] cf-buttons
- [ ] cf-forms
- [ ] cf-grid
- [ ] cf-layout
- [ ] cf-typography
- [ ] cf-pagination
- [ ] cf-expandables
- [ ] cf-tables

[2016-07-27 15:30] KimberlyMunoz opened #361 "Convert cf-grid to atomic design"
This should be light, but it does touch other pieces and should get done early.

I talked with @contolini and https://github.com/cfpb/capital-framework/blob/canary/src/cf-grid/src-generated/cf-grid-generated.less will likely be out of scope since it's generated more as an example of what can be done with cf-grid rather than on projects themselves.

[2016-07-27 15:31] jimmynotjim commented on #325
@KimberlyMunoz are there any others in-progress besides cf-tables?

[2016-07-27 16:00] KimberlyMunoz commented on #325
Nope, this is on hold until after atomic work is done.

[2016-07-27 16:18] Scotchester commented on #361
I'm not sure anything about cf-grid should change, since it's all mix-ins. There's no atoms, molecules, or organisms to speak of, really.

[2016-07-27 16:42] KimberlyMunoz commented on #344
@virginiacc & @wpears, where did you all land on your thinking on this?

[2016-07-27 19:11] KimberlyMunoz commented on #361
Not much will change. There'll be light clean up and better guidance. Just trying to move things to done as best I can here.

[2016-07-27 19:13] jimmynotjim commented on #361
Should most of grid get `u-` prefixes to fit in w/ the discussion in cf-layout?

[2016-07-27 19:15] KimberlyMunoz commented on #361
Let's move to #atomic-design.

[2016-07-27 20:41] jimmynotjim commented on #325
@KimberlyMunoz I was going to try and get through what's left rather than start another atomic component. Figured we should divvy up the work tomorrow during the call (or after via chat if we run out of time).

[2016-07-27 22:08] sebworks commented on #357
This is the article @KimberlyMunoz : https://gist.github.com/sebworks/1f5238091b2c818ee4f63f7b0d9b297e.

[2016-07-28 20:46] jimmynotjim commented on #358
From @cfarm

Some questions that came up at today's Capital Framework fewd working meeting:

- Do we need a product owner for capital framework? This would make sure we prioritize work and actively develop it.
- We will need a well-managed backlog so that all FEWDs can still contribute to CF as needed.
- Who are the developers who work on Capital Framework as sprint work? For now, it's Jimmy. In t

[2016-07-28 20:47] jimmynotjim commented on #358
@farmanc also brought up in chat the idea of moving toward a CF Agile team.

I'm interested in this idea as the design manual team has the same model for their work. I think we could keep it light and async to avoid "yet another meeting" in our lives making the current bi-weekly meeting a retro since that's sort of what they have become organically.

[2016-07-28 20:56] jimmynotjim opened #365 "Capital Framework Meeting - 8/12/2016"
__Proposed Agenda for 8/12 Meeting__

- Workflow check-in
    - Is it working/not working? Are there places for improvement?
    - Lessons learned?
- Atomic component check-in
    - Celebrate the work that's been merged so it doesn't feel like an eternal slog
    - Questions or concerns about the naming/code org
    - Questions or concerns about what non-existing code we should be including
- PR c

[2016-07-28 21:57] jimmynotjim commented on #19
@contolini brought this up in today's discussion. It's definitely a higher priority if we're going to move to automated merges of PRs without comment.

Chris, do you want to own this one?

[2016-07-28 21:59] jimmynotjim commented on #46
After more time away from Sass and heavy usage of extends, I'm starting to think mixins are better. Harry Roberts seems to agree http://csswizardry.com/2016/02/mixins-better-for-performance/.

Since we've still not used it in projects, I think we can close this.

[2016-07-28 21:59] #46 closed

[2016-07-28 22:01] jimmynotjim commented on #124
Is this still a concern? I think every newer project has moved to npm installation and packaging with project code. Speak now or stay closed forever.

[2016-07-28 22:01] #124 closed

[2016-07-28 22:02] jimmynotjim commented on #129
Closing in favor of [atomic work in cf-forms](https://github.com/cfpb/capital-framework/issues/345)

[2016-07-28 22:02] #129 closed

[2016-07-28 22:04] jimmynotjim commented on #206
@Scotchester is now including it in the atomic update to [cf-core](https://github.com/cfpb/capital-framework/issues/352), closing in favor of that issue.

[2016-07-28 22:04] #206 closed

[2016-07-28 22:04] jimmynotjim commented on #352
Just adding a note to include Avenir as the base font.

[2016-07-28 22:05] jimmynotjim commented on #214
Now that we're using the usage.md files for individual component readmes, is this still an issue?

[2016-07-28 22:09] contolini commented on #19
@jimmynotjim ye

[2016-07-29 16:22] jimmynotjim commented on #357
It definitely seems like a very basic "component framework" is going to be needed here to continue the work in the atomic components.

 `cf-utilities` is already used, how about naming it `cf-behavior` so that it's clear it's only a dependency for components with interactive behaviors? Should it be a sub-component of `cf-core` or stand on it's own? If independent, are there complications to keep i

[2016-07-29 16:27] jimmynotjim opened #368 "Create base JS framework for Atomic CF components"
Per discussion in #357, create a base JS framework that contains all of the dependency utility code for tables, multiselect, and expandables that currently lives in cfgov-refresh. This task is currently a blocker for #354, #344, and #353.

[2016-07-29 16:28] jimmynotjim commented on #339
@mistergone is this a simple fix, or should it be backlogged till after the atomic work is completed?

[2016-07-29 16:30] jimmynotjim commented on #321
This has been fixed.

[2016-07-29 16:30] #321 closed

[2016-07-29 16:43] jimmynotjim opened #369 "Update cf-buttons to Atomic Design"
This is completed and merged to `prerelease-ver-4`, just waiting on the Sandbox PR https://github.com/jimmynotjim/capital-framework-sandbox/pull/12

- [x] Code
- [x] Docs
- [x] Sandbox https://github.com/jimmynotjim/capital-framework-sandbox/pull/12
- [x] PR https://github.com/cfpb/capital-framework/pull/338

[2016-07-29 16:44] jimmynotjim commented on #369
See #

[2016-07-29 16:47] jimmynotjim opened #370 "Update cf-pagination to Atomic Design"
This is completed and awaiting dependency components to be merged to `prerelease-ver-4`

- [x] Code
- [x] Docs
- [x] Sandbox https://github.com/jimmynotjim/capital-framework-sandbox/pull/11
- [x] PR https://github.com/cfpb/capital-framework/pull/326

[2016-07-29 18:01] contolini commented on #342
I'm out of the office next week. I unassigned myself so I don't serve as a blocker. I'll catch up when I return.

[2016-08-02 15:20] KimberlyMunoz commented on #214
Close it. We have this covered in so many documentation issues.

[2016-08-02 15:20] #214 closed

[2016-08-02 16:16] sebworks commented on #357
@jimmynotjim, I am working on this and expect to have a rough draft for review tomorrow.

[2016-08-02 16:19] jimmynotjim commented on #357
Score. I think we can close out the discussion portion and continue in the sprint task issue or PR.

[2016-08-02 16:19] #357 closed

[2016-08-02 22:09] KimberlyMunoz commented on #345
Hey @sonnakim, since I have to make markup changes to bring radio buttons into spec I'll take the radio buttons for now.

@anselmbradford, have you done work on this?

[2016-08-04 00:43] #20 closed

[2016-08-04 01:15] Scotchester commented on #20
:'(

[2016-08-09 19:41] KimberlyMunoz commented on #345
↪️  https://github.com/cfpb/cfgov-refresh/pull/2292

[2016-08-10 01:25] #312 closed

[2016-08-10 20:17] KimberlyMunoz commented on #352
https://github.com/cfpb/capital-framework/pull/367

[2016-08-12 16:41] jimmynotjim commented on #369
Yay!!!

[2016-08-12 16:42] jimmynotjim commented on #361
@KimberlyMunoz we decided there's nothing atomic that needs to happen right? Just some doc improvements that can wait till after the v4 release?

[2016-08-12 16:43] jimmynotjim commented on #352
Turns out closing removes it from the milestone list. Reopening till we get a chance to review the milestones.

[2016-08-12 16:45] Scotchester commented on #361
That is my opinion.

[2016-08-12 17:57] #352 closed

[2016-08-12 17:57] #369 closed

[2016-08-12 17:57] #358 closed

[2016-08-12 18:29] jimmynotjim commented on #361
Keeping this issue so we don't lose the relative discussion

[2016-08-12 18:34] KimberlyMunoz commented on #361
That's what was decided in #atomic-design because cf-grid is all mixins and the grid is just a sample and not part of CF. I think if anything does come up, we could make a new issue for it.

[2016-08-12 19:00] jimmynotjim commented on #343
Scott finished it up just in the nick of time.

[2016-08-12 19:00] #343 closed

[2016-08-12 19:00] #365 closed

[2016-08-12 22:44] jimmynotjim commented on #370
So close, moved to Sprint 2

[2016-08-12 22:50] jimmynotjim commented on #344
@virginiacc and @wpears Checking in again. More than likely Data & Research will be seeing this through, but could you post up whether you have some notes/ideas/changes so we know before we start on it? Thanks.

[2016-08-15 20:37] KimberlyMunoz commented on #33
I talked with @anselmbradford about LESS linting

We found:
- https://www.npmjs.com/package/gulp-lesshint
- https://github.com/postcss/postcss-bem-linter
- https://www.npmjs.com/package/stylelint

[2016-08-16 17:17] virginiacc commented on #344
In addition to @designlanguage's above suggestion about dropdown height, we also talked about how to handle the util dependencies for Multiselect.js. Our general preference, both then & when the issue came up again on the platform team, was to release the utils as individual npm modules -- but maybe that merits wider discussion?

[2016-08-19 13:30] mistergone commented on #342
https://github.com/cfpb/capital-framework/pull/386 should go a ways to addressing the recommendations here.

[2016-08-22 16:36] jimmynotjim commented on #370
Sandbox is merged, that's a wrap

[2016-08-22 16:36] #370 closed

[2016-08-23 22:27] jimmynotjim commented on #344
We're going to back log the multi-select for post launch since it's not an existing component and will require a bit more work on the behavior side of things. It should probably be top priority once v4 is released.

[2016-08-23 22:28] jimmynotjim commented on #354
Update: @sebworks is working on both the Less and JS for as part of his Atomic Component JS framework tasks.

[2016-10-04 15:28] #342 closed

[2016-10-04 15:28] #345 closed

[2016-10-04 15:32] jimmynotjim commented on #228
@KimberlyMunoz this was completed on the Capital Framework side by #403 correct?

[2016-10-04 15:40] jimmynotjim opened #407 "Update cf-typography to Atomic Design"
As part of the v4 atomic design update, convert the appropriate bits of cf-typography to the atomic design principles. Component should be broken out into appropriate atoms, molecules, and organisms.

Tasks:

- Convert `.pull-quote`
- Convert `.micro-copy`
- Convert `.short-desc`
- Convert `.date`
- Convert `.category-slug`
- Convert `.header-slug`
- Convert `.padded-header`
- Convert `.fancy-slug

[2016-10-04 15:44] jimmynotjim opened #408 "Add undocumented rules to Atomic Guide"
Task

Codify any rules set out in v1 work (ex. how we handled layouts/spacing)

Notes

There's been a lot of confusion on how to encapsulate elements. So far, the following PRs have related notes or discussion:

https://github.com/cfpb/cfgov-refresh/pull/1056
https://github.com/cfpb/cfgov-refresh/pull/1202
https://github.com/cfpb/cfgov-refresh/pull/1316
https://github.com/cfpb/cfgov-refresh/pull/1

[2016-10-04 15:57] jimmynotjim opened #409 "Update Icon Font to include "NO" icon"
A new Icon Font file will be coming with a "NO" icon from @ajbush for use in the larger target radio/checkboxes.

Task

After @Dnpizarro delivers an updated icon font file update it in the repo.

[2016-10-04 17:35] KimberlyMunoz commented on #228
Yep

From: Jimmy Wilson [mailto:notifications@github.com]
Sent: Tuesday, October 04, 2016 08:32 AM
To: cfpb/capital-framework <capital-framework@noreply.github.com>
Cc: Munoz, Kimberly (CFPB); Mention <mention@noreply.github.com>
Subject: Re: [cfpb/capital-framework] [cf-forms] deprecate warning + success alert style at the form field level (#228)

@KimberlyMunoz<https://github.com/KimberlyMunoz>

[2016-10-04 19:59] #228 closed

[2016-10-05 13:33] jimmynotjim commented on #368
This is in the CFPB org at => https://github.com/cfpb/AtomicComponent

[2016-10-05 13:34] #368 closed

[2016-10-14 19:26] #407 closed

[2016-10-14 19:27] #354 closed

[2016-10-14 19:27] jimmynotjim commented on #353
@mistergone how are the expandables going?

[2016-10-14 19:46] mistergone commented on #353
@jimmynotjim - Good! I got feedback on my work on the 7th, but I was out most of this week (including the holiday), so I haven't done additional work since that feedback session.

[2016-12-12 20:19] marteki opened #422 "[cf-expandables] [cf-tables] Update jQuery to 1.12.x"
Right now, the `package.json` files for `cf-expandables` and `cf-tables` are using a tilde to match against 1.11.0, which only pulls in other 1.11.x minor versions. Due to security vulnerabilities, using a higher version such as 1.12.x might be better.

The general `package.json` for this repo has the same versioning for jQuery.

## Current behavior

If you currently use `cf-expandables` or `cf-ta

[2016-12-29 17:33] anselmbradford opened #423 "Do content_line and rule break atom overlap?"
Cfgov-refresh has a rule break atom (horizontal rule line) [here](https://github.com/cfpb/cfgov-refresh/blob/master/cfgov/unprocessed/css/atoms/rule-break.less).
Capital Framework has a content line [here](https://github.com/cfpb/capital-framework/blob/canary/src/cf-layout/src/cf-layout.less#L216-L219).

Can these be merged? Should they both exist?

[2016-12-30 16:58] anselmbradford opened #425 "[cf-icons] Provide option to override font-face declaration"
`@cf-icon-path` variable in `cf-theme-overrides` allows setting the path for the webfont files. There is an edge case uncovered in [GHE]/consumer-response/032-consumer-feedback/pull/19 where a data URI needs to be used instead to embed the fonts. However, the `@cf-icon-path` variable needs to be set to an empty data URI as a hack to turn browsers from throwing an error for the missing font path to

[2017-01-04 23:53] anselmbradford commented on #356
Can't build by following `npm install && npm run build` as it is looking for `atomic-component` and `classlist-polyfill`. I was able to install after manually installing those two packages.

[2017-01-05 00:05] anselmbradford opened #426 "[cf-forms] Missing @input-disabled definition"
https://github.com/cfpb/capital-framework/blob/prerelease-ver-4/src/cf-forms/src/cf-forms.less#L118 is not defined.

Also, the color variables at the top of that file are undefined.

[2017-01-05 17:28] jimmynotjim commented on #426
Addressed in #424

[2017-01-05 17:29] jimmynotjim commented on #356
@anselmbradford that's definitely weird. I'll try a fresh install today to find out what the deal is here.

[2017-01-05 22:48] jimmynotjim commented on #423
I never even knew this or `content_bar` existed. They don't seem like they belong in cf-layout (though neither do heros or featured content) so I'd think we should keep the `a-rule` atom and maybe add a modifier that makes it `10px` to replace `content_bar`

[2017-01-05 22:51] jimmynotjim commented on #353
The main code is merged but I just realized it's not in the sandbox. @mistergone do you have time to make sure https://github.com/cfpb/capital-framework-sandbox/tree/atomicjs-exp is all ready to go and open a PR?

[2017-01-06 15:57] Scotchester commented on #423
`content_bar` should not be considered an atom (or modified atom). It's really just a border, that we had to make its own HTML element because reasons.

[2017-01-09 20:02] ascott1 opened #428 "Audit automated build"
Audit the automated build process to ensure that it works with the v4 atomic structure.

[2017-01-09 20:02] ascott1 opened #429 "Test a clean install of v4"

[2017-01-09 20:04] ascott1 opened #430 "Ensure docs are up to date for v4"

[2017-01-09 20:07] ascott1 opened #431 "Update/correct CHANGELOG to reflect v4 release"

[2017-01-09 20:08] ascott1 opened #432 "Move prerelease-ver-4 to canary"
Relies on:

- [x] #428
- [x] #429
- [x] #430
- [x] #431

[2017-01-09 20:09] ascott1 opened #433 "Update github.io site to reflect v4 changes"

[2017-01-09 20:16] jimmynotjim commented on #423
@Scotchester do you have examples of where it and content-bar are being used? It'd be nice to know what the reasons are and justify them.

[2017-01-09 21:06] Scotchester commented on #423
Sorry, I should have looked before commenting. Looks like `content_bar` is no longer needed. It was required when the design specs had the green border under the header moving _under_ the hero, if a hero was present.

`content_line` is used to divide the top content are from the bottom content area on a page with a breakout sidebar: http://www.consumerfinance.gov/policy-compliance/rulemaking/

[2017-01-12 18:14] jimmynotjim commented on #431
PR is open and ready.

[2017-01-12 20:23] #426 closed

[2017-01-12 20:25] jimmynotjim commented on #356
Install issue was addressed in #427

[2017-01-12 20:26] jimmynotjim commented on #353
Sandbox PR is open and available for review.

[2017-01-12 20:26] #353 closed

[2017-01-12 20:26] #346 closed

[2017-01-12 20:26] jimmynotjim commented on #346
I think we've addressed this where possible.

[2017-01-12 20:27] jimmynotjim commented on #325
Pretty sure we've addressed all of these within prerelease-ver-4. See #438

[2017-01-12 20:28] #325 closed

[2017-01-12 20:33] jimmynotjim commented on #283
@Scotchester looks like this is still an issue in [prerelease-ver-4](https://github.com/cfpb/capital-framework/blob/prerelease-ver-4/src/cf-layout/usage.md#featured-content-module)

![screen shot 2017-01-12 at 2 32 53 pm](https://cloud.githubusercontent.com/assets/1280430/21907153/04957740-d8d4-11e6-8849-929142609fdb.png)

Do you want to try and fix it before we release?

[2017-01-12 20:40] jimmynotjim commented on #265
With v4 on the cusp of release, I think now's a good time to discuss the usefulness of a "generic" theme for the following reasons:

- we recently discussed how our projects should serve us first and the greater community second
- the generic theme is overwritten in every project with the same Bureau theme file
- keeping track of themed vs non-themed variables and values creates a lot problems

Ev

[2017-01-12 20:41] jimmynotjim commented on #261
Fixed in v4
![image 2017-01-12 at 2 41 11 pm](https://cloud.githubusercontent.com/assets/1280430/21907450/3c205562-d8d5-11e6-9133-b152b2afd19b.png)

[2017-01-12 20:41] #261 closed

[2017-01-12 20:42] jimmynotjim commented on #245
@Scotchester @mistergone did this get resolved in the v4 updates to cf-tables? Should it be before we release?

[2017-01-12 20:44] jimmynotjim commented on #241
I kind of forgot about this. We should revisit it at March (January might be too soon) Regroup and see how we're doing and where we'd like to improve.

[2017-01-12 20:45] jimmynotjim commented on #239
This is fixed in the v4 update to cf-expandables.

[2017-01-12 20:45] #239 closed

[2017-01-12 20:45] jimmynotjim commented on #238
I believe this is also fixed in v4 cc @mistergone can you confirm?

[2017-01-12 20:46] jimmynotjim commented on #235
Fixed in v4

[2017-01-12 20:46] #235 closed

[2017-01-12 20:51] jimmynotjim commented on #234
This is still an issue. @mistergone do you have time to tackle this before we release v4? If you add a link after the paragraph you can see exactly what's happening.

![screen shot 2017-01-12 at 2 49 41 pm](https://cloud.githubusercontent.com/assets/1280430/21907737/6f0c7e78-d8d6-11e6-9d70-fba9ce5983b9.png)

[code]

[2017-01-12 20:52] jimmynotjim commented on #231
Fixed in v4

[2017-01-12 20:52] #231 closed

[2017-01-12 20:53] jimmynotjim commented on #229
This was hashed out in v4 and can be closed.

[2017-01-12 20:53] #229 closed

[2017-01-12 20:56] jimmynotjim commented on #226
Fixed in v4 documentation but we never called it out using label specifically. Should we? cc @Scotchester

[2017-01-12 20:57] jimmynotjim commented on #224
@anselmbradford Did this pattern ever emerge as necessary? If there is no use case I think we shouldn't put in extra work supporting it.

[2017-01-12 20:58] jimmynotjim commented on #223
Fixed in v4 release.

[2017-01-12 20:58] #223 closed

[2017-01-12 21:00] jimmynotjim commented on #207
This was [addressed by the Platform team](https://github.com/cfpb/cfgov-refresh/pull/2475/files#diff-b6e78e12f3348c69634c6b95cd89390cR210) and should be migrated to this project.

[2017-01-12 21:01] jimmynotjim commented on #203
There is a single contributing file in the main repo and it's pretty robust. @anselmbradford having run it again recently, is there anything you think we need to add/change that can be addressed in this issue?

[2017-01-12 21:03] jimmynotjim commented on #173
This is resolved in v4

[2017-01-12 21:03] #173 closed

[2017-01-12 21:05] jimmynotjim commented on #170
We didn't end up using them in a single page, but we did create a sandbox that removes all the documentation to make it easier to see just the components. @niqjohnson take a look at https://cfpb.github.io/capital-framework-sandbox/components/ and let me know if that's about what you were looking for. It's built upon this repo's gh-pages but with a few tweaks.

[2017-01-12 21:06] jimmynotjim commented on #425
@anselmbradford could this be resolved by Base64 encoding? Turns out we have an old discussion on that https://github.com/cfpb/capital-framework/issues/160

[2017-01-12 21:08] niqjohnson commented on #170
The sandbox plus the new documentation pages have been working great for me lately. 👍

[2017-01-12 21:09] jimmynotjim commented on #102
We've switched to Gulp some time ago. This issue no longer applies.

[2017-01-12 21:09] #102 closed

[2017-01-12 21:10] jimmynotjim commented on #97
@Scotchester we've completely rewritten how these are generated, but maybe it's still something we should consider moving to the usage docs? If not, we should close this.

[2017-01-12 21:11] jimmynotjim commented on #38
We've switched to gulp but this is still a good idea

[2017-01-12 21:12] jimmynotjim commented on #170
Awesome. Let's consider this resolved and if a future problem arrises we can address it in a new issue.

[2017-01-12 21:12] #170 closed

[2017-01-13 21:09] jimmynotjim opened #440 "Add notifications component"
Notifications have been [added to the Design Manual](https://github.com/cfpb/design-manual/pull/366). Post v4, add a cf-notifications component and update the Design Manual when it's ready.

[2017-01-17 15:57] Dnpizarro commented on #409
@jimmynotjim I just sent you the link to the file.

[2017-01-26 07:38] contolini commented on #428
Thanks for being patient while I found time to work on this! I went through all the scripts and ran them locally and they all worked as expected.

The crux of their work is building CF by simply running [`gulp build`](https://github.com/cfpb/capital-framework/blob/prerelease-ver-4/scripts/npm/prepublish/lib/build.js#L8). That command hasn't changed with v4 so no issues there.

The [chat ops script

[2017-01-26 07:38] #428 closed

[2017-01-26 15:54] #431 closed

[2017-01-26 15:55] #430 closed

[2017-01-26 15:58] jimmynotjim commented on #423
@anselmbradford seems we have our answer, only use `content_line` if you're breaking up the `content` elem.

[2017-01-26 15:58] #423 closed

[2017-01-26 16:00] jimmynotjim commented on #429
Between @contolini and I, I think we've covered this

[2017-01-26 16:00] #429 closed

[2017-01-26 16:18] jimmynotjim commented on #432
PR is open https://github.com/cfpb/capital-framework/pull/441

[2017-02-02 20:13] niqjohnson opened #443 "Hero content spans the full page width"
When I was using Capital Framework v4 to prototype the Financial Well-Being Scale, I came across a bug that causes hero content to span the full width of the page rather than being contained in the wrapper width as intended.

## Current behavior

- The content of a hero spans the full width of the viewport at large screen sizes.

## Expected behavior

- The content of the hero should only be as wi

[2017-02-02 21:18] niqjohnson opened #444 "@grid_wrapper-width too large in starter project generated by Yeoman"
When using `yo cf` to generate a starter Capital Framework project, `@grid_wrapper-width` is set to `1230px` in `cf-theme-overrides.less`.

## Current behavior

- Line 159 in the `cf-theme-overrides.less` file generated by `yo cf`, `@grid_wrapper-width` is set to `1230px`; that makes any pages designed based on the starter project 30 px wider than on cf.gov

## Expected behavior

- `@grid_wrapper-

[2017-02-02 21:29] Scotchester commented on #444
Hey @niqjohnson, actually, generator-cf has it right. See https://[ghe]/CFGOV/platform/issues/244 and cfpb/cfgov-refresh#2707 for more info.

[2017-02-02 21:35] niqjohnson commented on #444
Ah, gotcha, thanks.

[2017-02-03 14:28] #444 closed

[2017-02-03 15:30] #432 closed

[2017-02-03 15:32] jimmynotjim commented on #422
@marteki Will consumer trends be able to use v4 of Capital Framework or do we need to add a retro release to v3 to fix this?

[2017-02-03 15:46] jimmynotjim commented on #167
The Design team has killed tooltips. RIP, we hardly knew ye. @ascott1 is our repo deprecation process documented somewhere or can I just go ahead and take a stab at it?

[2017-02-07 19:30] anselmbradford opened #445 "Inconsistent use of (less) keyword"
## Current behavior

- [Some places](https://github.com/cfpb/capital-framework/blob/ab68fda0e693c723c60edf2077fadd993f9bee61/src/cf-layout/src/cf-layout.less#L8) use the `(less)`  keyword, some places [don't](https://github.com/cfpb/capital-framework/blob/ab68fda0e693c723c60edf2077fadd993f9bee61/src/cf-layout/src/cf-layout.less#L572).

If the keyword is missing the file suffix is used. It probably

[2017-02-17 19:10] jimmynotjim opened #446 "Explore options with GH-Pages and ToC"
The Table of Contents doesn't work in the rendered Github Pages site because the urls aren't added to the headings like they are in the repo rendered markdown.

## Current behavior

- ToC links don't jump to the appropriate heading.

## Expected behavior

-ToC links should jump the page to the appropriate heading.

## Steps to replicate behavior

1. Checkout `gh-pages` branch.
2. Run `npm install`

[2017-02-23 20:31] jimmynotjim commented on #446
@Scotchester it looks like `auto_ids` should be on by default and I tried adding it manually but I'm still not able to get ids in the headings.

![screen shot 2017-02-23 at 2 31 33 pm](https://cloud.githubusercontent.com/assets/1280430/23277784/cfa9e4ea-f9d4-11e6-9df8-9e6548285297.png)

![screen shot 2017-02-23 at 2 30 58 pm](https://cloud.githubusercontent.com/assets/1280430/23277757/b655da9e-f9d

[2017-02-23 20:39] Scotchester commented on #446
I tried this and observed the same thing yesterday, too. Not sure what to do about it :\

[2017-03-07 15:22] jimmynotjim commented on #446
This was fixed with #454

[2017-03-07 15:22] #446 closed

[2017-03-14 23:58] anselmbradford opened #459 "Update cf-grid width in usage doc"
## Current behavior

- https://github.com/cfpb/capital-framework/blob/canary/src/cf-grid/usage.md#variables has `@grid_wrapper-width: 1200px;`

## Expected behavior

- Per [GHE]/CFGOV/platform/issues/244 update to `1230px`.

[2017-03-21 15:48] contolini opened #461 "Look into Lerna"
https://lernajs.io/

The [commands](https://lernajs.io/#commands) look incredibly relevant to our needs, especially `bootstrap`:

[2017-03-23 19:45] Scotchester opened #462 "Expandables have lost their internal bottom spacing"
Our `:last-child { margin-bottom: 0; }` [rule](https://github.com/cfpb/capital-framework/blob/canary/src/cf-core/src/cf-base.less#L369-L371) has eliminated the bottom spacing in all expandables, which were counting on their last child's bottom margin to be there.

## Current behavior

Expandables have no spacing at the bottom of their content area.

## Expected behavior

Expandables have 15px spac

[2017-03-30 14:47] jimmynotjim commented on #462
@Scotchester this is a duplicate of #234

[2017-03-30 15:57] Scotchester commented on #462
No, it's not. It's affecting _all_ expandables, and the cause is different than the one identified in that issue, and its preceding issue, cfpb/cfgov-refresh#487.

[2017-04-24 21:05] #462 closed

[2017-05-01 20:21] jimmynotjim commented on #459
This was fixed in #469

https://github.com/cfpb/capital-framework/pull/469/files#diff-a42a8692caaf52522c4282c228ce3e86R15

[2017-05-01 20:21] #459 closed

[2017-05-01 20:23] jimmynotjim commented on #443
@niqjohnson can you test this now that v4.3.0 is released? Thanks

[2017-05-01 20:31] jimmynotjim commented on #433
Yay! This is done, as well as the Design Manual

[2017-05-01 20:31] #433 closed

[2017-05-01 20:32] jimmynotjim commented on #422
Bump @marteki do we still need to do something here or can Consumer Trends be moved to the v4 updates?

[2017-05-01 20:33] jimmynotjim commented on #356
Aaaaand we're done. Thanks everyone.

[2017-05-01 20:33] #356 closed

[2017-05-01 20:34] jimmynotjim commented on #245
@Scotchester Bump

[2017-05-01 20:35] jimmynotjim commented on #238
Bump @mistergone

[2017-05-01 20:35] jimmynotjim commented on #234
This was fixed in v4.2.1

[2017-05-01 20:35] #234 closed

[2017-05-01 20:37] #224 closed

[2017-05-01 20:42] jimmynotjim commented on #203
@anselmbradford bumpity bump. I'm pretty sure we can close this one.

[2017-05-01 21:09] Scotchester commented on #245
Hah, wow. There's a throwback. Thanks for the reminder; I still intend to do it.

[2017-05-01 22:26] jimmynotjim commented on #201
In-progress, see #483

[2017-05-02 13:30] ascott1 commented on #433
:man_dancing: 🎉

[2017-05-03 21:35] #201 closed

[2017-05-04 16:48] niqjohnson commented on #443
I used the same HTML as above, and the hero was only as wide as the page wrapper, as expected.

👍

[2017-05-04 17:34] jimmynotjim commented on #443
Perfecto, thanks.

[2017-05-04 17:34] #443 closed

[2017-05-05 12:22] anselmbradford commented on #203
Sounds good 👍 I'll be running through them again sometime after the 11th and will re-open if necessary.

[2017-05-05 12:22] #203 closed

[2017-05-18 19:23] Scotchester opened #489 "Explore new implementation for link weights"
In cfpb/design-manual#262, @jimmynotjim [wondered](https://github.com/cfpb/design-manual/issues/262#issuecomment-259171406) if there might be a more efficient way to set link weights:

_(Edited to reflect the fact that Georgia is no longer in the picture.)_

Let's explore this idea.

[2017-05-24 14:37] anselmbradford opened #492 "EOF comment not needed"
https://github.com/cfpb/capital-framework/blob/canary/src/cf-core/src/cf-base.less#L575 appears to be unneeded. The other files in core do not have this.

[2017-05-31 20:28] anselmbradford opened #494 "cf-grid helpers right to be in cf-layout?"
These cf-grid helpers are in cf-layout in CF, but in cf-grid enhancements in cfgov-refresh. Is cf-layout the right spot for them? Code --> https://github.com/cfpb/capital-framework/blob/a45f7b6d19dd16ca9208e661ca2db76c515c3c5c/src/cf-layout/src/cf-layout.less#L543-L572

[2017-06-01 16:17] anselmbradford opened #496 "jump-link_text referenced in cf-layout but not defined in CF."
## Current behavior

- https://github.com/cfpb/capital-framework/blob/master/src/cf-layout/usage.md includes `jump-link` classes and while there are variables with the name jump-link [here](https://github.com/cfpb/capital-framework/blob/master/src/cf-typography/src/cf-typography.less#L49), the class is not defined in CF. Likely this needs to be updated to `a-link__jump` defined [here](https://gith

[2017-06-01 16:26] anselmbradford opened #497 "icon-link referenced in docs appears outdated"
`icon-link` is referenced in cf-typography usage docs. Appears that it should be updated to `.a-link__icon`?

[2017-06-26 15:33] anselmbradford commented on #492
Fixed

[2017-06-26 15:33] #492 closed

[2017-06-26 15:35] anselmbradford opened #518 "o-form largely undocumented"
## Current behavior

Elements of `o-form` is referenced in code snippets in https://cfpb.github.io/capital-framework/components/cf-forms/, but is not documented there or anywhere else in the usage docs that I can find.

## Expected behavior

`o-form` should be documented, like https://github.com/cfpb/capital-framework-sandbox/blob/gh-pages/components/cf-forms/index.md#atomic-filter-form

[2017-06-27 15:39] anselmbradford opened #520 "Create micro-copy pattern for form labels"
A pattern that has emerged is having `(Optional)` text next to a form label, in smaller-sized text. We currently have `a-micro-copy` for smaller text that is in a paragraph, but as part of a label it will be in a span typically. `a-micro-copy` needs to be adjusted to work in form labels, or a separate class for `a-label` needs to be created.

As another example, visit https://cfpb.github.io/compla

[2017-07-06 21:01] anselmbradford commented on #520
Just noticed that the older `micro-copy` and `<small>` don't behave exactly the same, as a link inside `<small>` will not have an underline. This appeared in Salesforce so may be a specific issue there.